flows/ARCIMP_Apply_For_It_Flow_Garden_Waste.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetCaseFields</name>
        <label>SetCaseFields</label>
        <locationX>714</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFinRecFields</name>
        <label>SetFinRecFields</label>
        <locationX>911</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>NewFinancialRecord.arcshared__Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFinancialRecord.arcshared__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFinancialRecord.arcshared__Date_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </assignments>
    <description>Allows application for garden waste</description>
    <interviewLabel>ARCIMP_Apply_For_It_Flow_Garden_Waste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARCIMP_Apply_For_It_Flow_Garden_Waste</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>910</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>SetFinRecFields</targetReference>
        </connector>
        <inputReference>NewCase</inputReference>
    </recordCreates>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>1211</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationScreenTitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>FlowTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationScreenText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;New Case&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!NewCase.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;New FR&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!NewFinancialRecord.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Screen</name>
        <label>Order Scree</label>
        <locationX>493</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetCaseFields</targetReference>
        </connector>
        <fields>
            <name>OrderScreenTitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>FlowTitle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Case_RT</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Get_Case_RT</name>
        <label>Get Case RT</label>
        <locationX>290</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>Order_Screen</targetReference>
        </connector>
        <flowName>arcuscrm__CRM_SUBFLOW_Lookup_Case_RecordType</flowName>
        <inputAssignments>
            <name>caseRecordTypeDeveloperName</name>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CaseRecordType</assignToReference>
            <name>caseRecordType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CaseRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>CaseRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>arcuscrm__Customer_Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>councilServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Garden Waste Collection</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewFinancialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcshared__Financial_Transaction__c</objectType>
    </variables>
</Flow>
