flows/ARCIMP_Report_It_Flow_Fly_Tip_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Decision after getting the current contact</description>
        <name>Contact_get_current_record_decision</name>
        <label>Contact_get_current_record_decision</label>
        <locationX>581</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_get_current_record_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralInfo_1</targetReference>
            </connector>
            <label>Contact_get_current_record_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility_1_decision</name>
        <label>Eligibility_1_decision</label>
        <locationX>1257</locationX>
        <locationY>19</locationY>
        <defaultConnector>
            <targetReference>Eligibility_1_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_1_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_1_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eligibility_2</targetReference>
            </connector>
            <label>Eligibility_1_decision_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility_2_decision</name>
        <label>Eligibility_2_decision</label>
        <locationX>1630</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Eligibility_2_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_2_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_2_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <label>Eligibility_2_decision_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evidence_Decision</name>
        <label>Evidence Decision</label>
        <locationX>1192</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>FurtherDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_saw_evidence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Any_Evidence_output</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Details_evidence</targetReference>
            </connector>
            <label>Yes saw evidence</label>
        </rules>
        <rules>
            <name>Dont_knowEvidence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Any_Evidence_output</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dont know</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Details_evidence</targetReference>
            </connector>
            <label>Dont know</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flytip_Deposited_Decision</name>
        <label>Flytip Deposited Decision</label>
        <locationX>1418</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Evidence_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Saw_the_Flytipper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlyTip_Deposited_Ouput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fly_tipper_additional_details</targetReference>
            </connector>
            <label>Saw the Flytipper</label>
        </rules>
        <rules>
            <name>Dont_Know</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlyTip_Deposited_Ouput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dont know</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fly_tipper_additional_details</targetReference>
            </connector>
            <label>Dont Know</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_you_have_a_contact</name>
        <label>If you have a contact</label>
        <locationX>1707</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Did_you_witness_the_fly_tip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_the_user_have_a_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RelatedParty_creation</targetReference>
            </connector>
            <label>Does the user have a contact?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_decision</name>
        <label>Location_decision</label>
        <locationX>2289</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Location_describe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_decision_map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>map</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_map</targetReference>
            </connector>
            <label>Location_decision_map</label>
        </rules>
        <rules>
            <name>Location_decision_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_address</targetReference>
            </connector>
            <label>Location_decision_address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_get_recordType_decision</name>
        <label>Process_get_recordType_decision</label>
        <locationX>392</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_get_recordType_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RelatedParty_get_recordType</targetReference>
            </connector>
            <label>Process_get_recordType_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>RelatedParty_get_recordType_decision</name>
        <label>RelatedParty_get_recordType_decision</label>
        <locationX>559</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RelatedParty_get_recordType_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_party_record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_get_current_record</targetReference>
            </connector>
            <label>RelatedParty_get_recordType_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reporting_decision</name>
        <label>Reporting_decision</label>
        <locationX>1882</locationX>
        <locationY>254</locationY>
        <defaultConnector>
            <targetReference>Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reporting_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_who_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_contact</targetReference>
            </connector>
            <label>Reporting_decision_yes</label>
        </rules>
        <rules>
            <name>Reporting_decision_dontknow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_who_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dont know</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location</targetReference>
            </connector>
            <label>Reporting_decision_dontknow</label>
        </rules>
    </decisions>
    <description>Version 2 of the flow based on DSH3.3</description>
    <interviewLabel>ARCIMP Report It Flow Fly Tip Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>ARCIMP Report It Flow Fly Tip Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Process_creation</name>
        <label>Process_creation</label>
        <locationX>1893</locationX>
        <locationY>717</locationY>
        <assignRecordIdToReference>newProcess_Id</assignRecordIdToReference>
        <connector>
            <targetReference>If_you_have_a_contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Council_Service__c</field>
            <value>
                <elementReference>councilServiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Process_record_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Contact__c</field>
            <value>
                <elementReference>currentContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Coordinates__Latitude__s</field>
            <value>
                <elementReference>Location_map_mapInput_NumberValue_Lat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Coordinates__Longitude__s</field>
            <value>
                <elementReference>Location_map_mapInput_NumberValue_Long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Received_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Source__c</field>
            <value>
                <stringValue>Online Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Activity__c</object>
    </recordCreates>
    <recordCreates>
        <name>RelatedParty_creation</name>
        <label>RelatedParty_creation</label>
        <locationX>1580</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Did_you_witness_the_fly_tip</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_5</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Related_party_record_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Related_Activity__c</field>
            <value>
                <elementReference>newProcess_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Related_Person__c</field>
            <value>
                <elementReference>currentContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Related_Contact__c</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_details</name>
        <label>Contact details</label>
        <locationX>1133</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reporting</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>currentContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Process_get_record</name>
        <label>Process_get_record</label>
        <locationX>923</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>TechnicalError_7</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newProcess_Id</elementReference>
            </value>
        </filters>
        <object>arcusregserv__RS_Activity__c</object>
        <outputAssignments>
            <assignToReference>newProcess_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Process_get_recordType</name>
        <label>Process_get_recordType</label>
        <locationX>399</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_get_recordType_decision</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Report_Investigation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcusregserv__RS_Activity__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Process_record_type</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RelatedParty_get_recordType</name>
        <label>RelatedParty_get_recordType</label>
        <locationX>400</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedParty_get_recordType_decision</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcusregserv__RS_Related_Contact__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Related_party_record_type</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Process_update</name>
        <label>Process_update</label>
        <locationX>1000</locationX>
        <locationY>630</locationY>
        <connector>
            <targetReference>Process_get_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_6</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newProcess_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcusregserv__Description__c</field>
            <value>
                <elementReference>Reportit_template_processValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Status__c</field>
            <value>
                <stringValue>Complaint Received</stringValue>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Activity__c</object>
    </recordUpdates>
    <screens>
        <name>Details_concerns</name>
        <label>Details_concerns</label>
        <locationX>1804</locationX>
        <locationY>1007</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Details_concerns_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_conerns_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_concerns_checkboxInput</name>
            <extensionName>c:DSHLC_FlowCheckbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What is making you concerned?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_concerns_checkboxInput_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>Details_concerns_checkboxOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_concerns_checkboxInput_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_concerns_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_date</name>
        <label>Details_date</label>
        <locationX>2299</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_describe</targetReference>
        </connector>
        <fields>
            <name>Details_date_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_date_text</name>
            <fieldText>&lt;p&gt;When did you see the fly tip?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_date_dateInput</name>
            <extensionName>c:DSHLC_FlowDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_date_dateInput_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Date you saw the fly tip.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Details_date_dateInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_date_dateInput_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_date_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_describe</name>
        <label>Details_describe</label>
        <locationX>2071</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Process_creation</targetReference>
        </connector>
        <fields>
            <name>Details_describe_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_describe_text</name>
            <fieldText>&lt;p&gt;Tell us about the fly tip you saw. We especially need to know if anything in it may be a hazard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hazardous_RG</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you think the fly tip has anything that might be a hazard in it?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no_dontknow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please choose an option.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Hazard_in_fly_output</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spacer3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flytip_details</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;It is helpful for us to know how big you think the fly tip is and any items you saw in it.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can help us by describing:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The rough size.&lt;/li&gt;&lt;li&gt;What was in the fly tip.&lt;/li&gt;&lt;li&gt;Any items that could be a danger, a hazard, or toxic.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_describe_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please describe the fly tip you saw.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_describe_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_describe_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_describe_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_evidence</name>
        <label>Details_evidence</label>
        <locationX>1191</locationX>
        <locationY>850</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FurtherDetails</targetReference>
        </connector>
        <fields>
            <name>Details_evidence_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Evidence_text1</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please give us details of anything that we might be able to use as evidence.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Evidence_details_output</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_evidence_uploadInput</name>
            <extensionName>c:DSHLC_FlowFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customRecordId</name>
                <value>
                    <elementReference>newProcess_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>If you have a photo of the fly tip please upload it here.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_evidence_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Did_you_witness_the_fly_tip</name>
        <label>Did you witness the fly tip?</label>
        <locationX>1583</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flytip_Deposited_Decision</targetReference>
        </connector>
        <fields>
            <name>DepositQ_Title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Deposit_FlyTip</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Did you see the Fly tip being deposited? </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no_dontknow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FlyTip_Deposited_Ouput</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DepositQ_Navigation</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_1</name>
        <label>Eligibility_1</label>
        <locationX>1103</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eligibility_1_decision</targetReference>
        </connector>
        <fields>
            <name>Eligibility_1_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_1_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Are you over 18 years old?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Eligibility_1_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Eligibility_1_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Eligibility_1_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_1_response</name>
        <label>Eligibility_1_response</label>
        <locationX>1376</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Eligibility_1_response_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_response_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>caution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Sorry, you are not able to complete this form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>To complete this form and make a complaint you must be over 18 years of age.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_response_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_1_response_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_2</name>
        <label>Eligibility_2</label>
        <locationX>1508</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eligibility_2_decision</targetReference>
        </connector>
        <fields>
            <name>Eligibility_2_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_2_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you have any evidence?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Eligibility_2_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Eligibility_2_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Eligibility_2_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_2_response</name>
        <label>Eligibility_2_response</label>
        <locationX>1844</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Eligibility_2_response_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_response_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_2_response_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Evidence_Details</name>
        <label>Evidence question</label>
        <locationX>1304</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evidence_Decision</targetReference>
        </connector>
        <fields>
            <name>AnyEvidenceQ_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Any_Evidence_RG2</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Did you notice if there was anything in the fly tip that we could use as evidence to prosecute the fly tipper?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no_dontknow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Any_Evidence_output</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AnyEvidenceQ_Navigation</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fly_tipper_additional_details</name>
        <label>Fly tipper additional details</label>
        <locationX>1421</locationX>
        <locationY>853</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evidence_Details</targetReference>
        </connector>
        <fields>
            <name>FlyTipDepositDetails_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OffenderStatement_Input</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Can we contact you to take a statement?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OffenderStatement_Output</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>details_output</name>
            <fieldText>&lt;p&gt;{!Statement_info_Output}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlytipDeposited_text_Input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>To help us collect your statement, if you would like to add to or change the details we currently have please enter the changes here:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Statement_contact_output</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FlyTipDepositDetails_Navigation</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FurtherDetails</name>
        <label>FurtherDetails</label>
        <locationX>1088</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Process_update</targetReference>
        </connector>
        <fields>
            <name>FurtherDetails_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FurtherDetails_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>FurtherDetails_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provide any further information about the flytip. This could be about the location, the contents, or anything else that might be relevant:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FurtherDetails_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FurtherDetails_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FurtherDetails_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GeneralInfo_1</name>
        <label>GeneralInfo</label>
        <locationX>833</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Eligibility_1</targetReference>
        </connector>
        <fields>
            <name>GeneralInfo_1_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GeneralInfo_1_infoText</name>
            <fieldText>&lt;p&gt;General info:&lt;/p&gt;&lt;p&gt;What the form is for&lt;/p&gt;&lt;p&gt;Anything needed to complete the form&lt;/p&gt;&lt;p&gt;Timescale to respond&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeneralInfo_1_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location</name>
        <label>Location</label>
        <locationX>2287</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Location_decision</targetReference>
        </connector>
        <fields>
            <name>Location_question_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_question_text</name>
            <fieldText>&lt;p&gt;Please choose how you would like to tell us where the fly tip is. Please give details about the exact location of the fly tipping to help us find and deal with it quicker.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Map&lt;/b&gt; - you can pick the location by placing a pin on the map and also describe it.&lt;/li&gt;&lt;li&gt;&lt;b&gt;Address&lt;/b&gt; - &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You do not need a full address, part of the address will also work. You could use street name and property number or postcode.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Describe the Location&lt;/b&gt; - you can write about the place. You could use directions, landmarks, or other details to help us find it.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How would you like to tell us about where the fly tip is?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>Location_question_options</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please choose an option</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_question_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_address</name>
        <label>Location_address</label>
        <locationX>2297</locationX>
        <locationY>713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_address_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_address_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please provide an address for the fly tip. You do not need a full address, part of the address will also work. You could use street name and property number or postcode and some directions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_address_input</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address for the fly tip</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_address_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Location_address_input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>This doesn&apos;t have to be the full address, for example the street name or postcode.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_address_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_address_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_describe</name>
        <label>Location_describe</label>
        <locationX>2519</locationX>
        <locationY>611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_describe_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_describe_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You can write about the place where you saw the fly tip. You could use directions, landmarks, shops or other details to help us find it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_describe_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_describe_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Describe where you saw the fly tip</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Try to use street names, landmarks, and near-by shops</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_describe_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_describe_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_map</name>
        <label>Location_map</label>
        <locationX>2088</locationX>
        <locationY>620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_map_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_map_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You can pick where the fly tip is by placing a pin on the map and also describing it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_map_textLabel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Place a pin in the map where the fly tip is.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_map_mapInput</name>
            <extensionName>c:DSHLC_FlowMap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMarkerPlacement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenMarkerMissing</name>
                <value>
                    <stringValue>Please place a pin in the map.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>markerLatitudeDecimal</name>
                <value>
                    <elementReference>Location_map_mapInput_NumberValue_Lat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>markerLongitudeDecimal</name>
                <value>
                    <elementReference>Location_map_mapInput_NumberValue_Long</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_map_mapInput_NumberValue_Lat</assignToReference>
                <name>markerLatitudeDecimal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Location_map_mapInput_NumberValue_Long</assignToReference>
                <name>markerLongitudeDecimal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_map_extraInfo</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please tell us more about the place.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_map_extraInfo_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_map_extraInfo_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_map_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reporting</name>
        <label>Reporting</label>
        <locationX>1498</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reporting_decision</targetReference>
        </connector>
        <fields>
            <name>Reporting_who_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_who_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Are you reporting the fly tip for someone else?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_who_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no_dontknow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_who_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_who_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reporting_contact</name>
        <label>Reporting_contact</label>
        <locationX>2153</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Location</targetReference>
        </connector>
        <fields>
            <name>Reporting_contact_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_contact_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Enter the details of the person who saw the fly tip.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reporting_contact_name</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_contact_name_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Reporting_contact_name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please enter the person&apos;s name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_contact_name_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_contact_details</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact details for the person who saw the fly tip.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_contact_details_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Include any details you have, for example their email, phone number or address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please enter any contact details you have for the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_contact_details_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_contact_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_1</name>
        <label>TechnicalError_1</label>
        <locationX>182</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_1_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-001</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_2</name>
        <label>TechnicalError_2</label>
        <locationX>567</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_2_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-002</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_3</name>
        <label>TechnicalError_3</label>
        <locationX>820</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_3_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-003</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_4</name>
        <label>TechnicalError_4</label>
        <locationX>1890</locationX>
        <locationY>543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_4_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something has gone wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-004</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_5</name>
        <label>TechnicalError_5</label>
        <locationX>1581</locationX>
        <locationY>993</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_5_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-005</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something has gone wrong</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_6</name>
        <label>TechnicalError_6</label>
        <locationX>1004</locationX>
        <locationY>885</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_6_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-006</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_7</name>
        <label>TechnicalError_7</label>
        <locationX>921</locationX>
        <locationY>970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_7_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-007</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Process_get_recordType</startElementReference>
    <status>Draft</status>
    <subflows>
        <description>Get the Contact record associate with the current user if there is one, otherwise it would use the one specified by the flow input for the Contact record ID.</description>
        <name>Contact_get_current_record</name>
        <label>Contact_get_current_record</label>
        <locationX>1021</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Contact_details</targetReference>
        </connector>
        <flowName>DSHLC_Get_Contact</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentContact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Details_concerns_checkboxOptions</name>
        <text>[{&quot;label&quot;:&quot;Electric &quot;,&quot;value&quot;:&quot;electric &quot;},{&quot;label&quot;:&quot;Gas&quot;,&quot;value&quot;:&quot;gas&quot;},{&quot;label&quot;:&quot;Structural &quot;,&quot;value&quot;:&quot;structural &quot;},{&quot;label&quot;:&quot;Damp and Mould&quot;,&quot;value&quot;:&quot;damp mold&quot;},{&quot;label&quot;:&quot;Security &quot;,&quot;value&quot;:&quot;security &quot;},{&quot;label&quot;:&quot;Other&quot;,&quot;value&quot;:&quot;other&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>Location_question_options</name>
        <text>[{&quot;label&quot;:&quot;Using a map&quot;,&quot;value&quot;:&quot;map&quot;},{&quot;label&quot;:&quot;I know the address&quot;,&quot;value&quot;:&quot;address&quot;},{&quot;label&quot;:&quot;I can describe the location&quot;,&quot;value&quot;:&quot;describe&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <description>This is for easily adding the options Yes and No to a radio button group</description>
        <name>radioOptions_yes_no</name>
        <text>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;:&quot;yes&quot;},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;:&quot;no&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>radioOptions_yes_no_dontknow</name>
        <text>[{&quot;label&quot;:&quot;Yes&quot;, &quot;value&quot;: &quot;yes&quot;},{&quot;label&quot;:&quot;No&quot;, &quot;value&quot;: &quot;no&quot;},{&quot;label&quot;:&quot;Don&apos;t know&quot;, &quot;value&quot;: &quot;dont know&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>Reportit_template_processValues</name>
        <text>Fly Tip Report:

If submitted for someone else their contact details:
Name: {!Reporting_contact_name_value}
Contact details: {!Reporting_contact_details_value}

Date the fly tip was seen:  
{!Details_date_dateInput_value}  

Location of the fly tip:  
{!Location_address_input_value} {!Location_describe_input_value} 
Location - Map: - Please see map above
Extra location information: {!Location_map_extraInfo_value}

Does the fly tip contain anything hazardous:
{!Hazard_in_fly_output}

Details of the items in the fly tip: 
{!Details_describe_input_value}

Did you see the fly tip taking place?
{!FlyTip_Deposited_Ouput}

Can we contact you for a statement?
{!OffenderStatement_Output}

Contact details for a statement:
{!Statement_contact_output}

Could you see any thing that could be evidence:
{!Any_Evidence_output}

Details of any evidence:
{!Evidence_details_output}

Please check attachments for file uploads.

Further details:  
{!FurtherDetails_input_value}</text>
    </textTemplates>
    <textTemplates>
        <description>processes the output for the contact addresses for a statement</description>
        <name>Statement_info_Output</name>
        <text>If you said you were reporting for someone else you provided these details for them:

Name: {!Reporting_contact_name_value}

Contact details: {!Reporting_contact_details_value}


If you are reporting this yourself the details we have are:

Your name: {!currentContact.FirstName} {!currentContact.LastName}

Mobile number: {!currentContact.MobilePhone}

Home Phone:{!currentContact.HomePhone}

Email: {!currentContact.Email}



First line of your address: {!currentContact.MailingStreet}

Postcode: {!currentContact.MailingPostalCode}</text>
    </textTemplates>
    <textTemplates>
        <description>Name of the form as shown in the page subtitle</description>
        <name>subtitle_text</name>
        <text>Report a Fly Tip</text>
    </textTemplates>
    <variables>
        <name>Any_Evidence_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The particular Contact record ID to run the flow against if the current User does not have an associate Contact already.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>In CRM this is passed into flow, it holds the Id of the council service record that the flow was launched from.</description>
        <name>councilServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A record variable that represents the Contact record for whom the report is about, either the DSH contact or the contact the CRM user has selected.</description>
        <name>currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Details_concerns_checkboxInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_date_dateInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_date_timeInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_describe_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Eligibility_1_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Eligibility_2_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Evidence_details_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlyTip_Deposited_Ouput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlytipDeposited_text_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FurtherDetails_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hazard_in_fly_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hazardous_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_address_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_describe_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_extraInfo_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_mapInput_NumberValue_Lat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Location_map_mapInput_NumberValue_Long</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Location_map_mapInput_value_Lat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_mapInput_value_Long</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newProcess_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newProcess_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OffenderStatement_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Process_record_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Related_party_record_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_contact_details_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_contact_name_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_who_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Statement_contact_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
