flows/ARCIMP_Report_It_Flow_Dangerous_Animal_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Decision after getting the current contact</description>
        <name>Contact_get_current_record_decision</name>
        <label>Contact_get_current_record_decision</label>
        <locationX>839</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_get_current_record_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralInfo_1</targetReference>
            </connector>
            <label>Contact_get_current_record_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility_1_decision</name>
        <label>Eligibility_1_decision</label>
        <locationX>1241</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Eligibility_1_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_1_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_1_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting</targetReference>
            </connector>
            <label>Eligibility_1_decision_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility_2_decision</name>
        <label>Eligibility_2_decision</label>
        <locationX>1584</locationX>
        <locationY>2</locationY>
        <defaultConnector>
            <targetReference>Eligibility_2_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_2_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_2_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <label>Eligibility_2_decision_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_decision</name>
        <label>Location_decision</label>
        <locationX>2289</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Location_describe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_decision_map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>map</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_map</targetReference>
            </connector>
            <label>Location_decision_map</label>
        </rules>
        <rules>
            <name>Location_decision_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_address</targetReference>
            </connector>
            <label>Location_decision_address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_get_recordType_decision</name>
        <label>Process_get_recordType_decision</label>
        <locationX>392</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_get_recordType_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RelatedParty_get_recordType</targetReference>
            </connector>
            <label>Process_get_recordType_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>RelatedParty_get_recordType_decision</name>
        <label>RelatedParty_get_recordType_decision</label>
        <locationX>559</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RelatedParty_get_recordType_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_party_record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_get_current_record</targetReference>
            </connector>
            <label>RelatedParty_get_recordType_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reporting_decision</name>
        <label>Reporting_decision</label>
        <locationX>2023</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reporting_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_who_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_contact</targetReference>
            </connector>
            <label>Reporting_decision_yes</label>
        </rules>
        <rules>
            <name>Reporting_decision_dontknow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_who_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dont know</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location</targetReference>
            </connector>
            <label>Reporting_decision_dontknow</label>
        </rules>
    </decisions>
    <interviewLabel>ARCIMP Report It Flow Dangerous Animal Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>ARCIMP Report It Flow Dangerous Animal Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Process_creation</name>
        <label>Process_creation</label>
        <locationX>1893</locationX>
        <locationY>717</locationY>
        <assignRecordIdToReference>newProcess_Id</assignRecordIdToReference>
        <connector>
            <targetReference>RelatedParty_creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Council_Service__c</field>
            <value>
                <elementReference>councilServiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Process_record_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Contact__c</field>
            <value>
                <elementReference>currentContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Coordinates__Latitude__s</field>
            <value>
                <elementReference>Location_map_mapInput_NumberValue_Lat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Coordinates__Longitude__s</field>
            <value>
                <elementReference>Location_map_mapInput_NumberValue_Long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Received_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Source__c</field>
            <value>
                <stringValue>Online Submission</stringValue>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Activity__c</object>
    </recordCreates>
    <recordCreates>
        <name>RelatedParty_creation</name>
        <label>RelatedParty_creation</label>
        <locationX>1694</locationX>
        <locationY>717</locationY>
        <connector>
            <targetReference>Details_evidence</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_5</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Related_party_record_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Related_Activity__c</field>
            <value>
                <elementReference>newProcess_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Related_Person__c</field>
            <value>
                <elementReference>currentContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Related_Contact__c</object>
    </recordCreates>
    <recordLookups>
        <name>Process_get_record</name>
        <label>Process_get_record</label>
        <locationX>1300</locationX>
        <locationY>718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>TechnicalError_7</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newProcess_Id</elementReference>
            </value>
        </filters>
        <object>arcusregserv__RS_Activity__c</object>
        <outputAssignments>
            <assignToReference>newProcess_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Process_get_recordType</name>
        <label>Process_get_recordType</label>
        <locationX>399</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_get_recordType_decision</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Report_Investigation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcusregserv__RS_Activity__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Process_record_type</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RelatedParty_get_recordType</name>
        <label>RelatedParty_get_recordType</label>
        <locationX>399</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedParty_get_recordType_decision</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcusregserv__RS_Related_Contact__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Related_party_record_type</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Process_update</name>
        <label>Process_update</label>
        <locationX>1540</locationX>
        <locationY>718</locationY>
        <connector>
            <targetReference>Process_get_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_6</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newProcess_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcusregserv__Description__c</field>
            <value>
                <elementReference>Reportit_template_processValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Status__c</field>
            <value>
                <stringValue>Complaint Received</stringValue>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Activity__c</object>
    </recordUpdates>
    <screens>
        <name>Details_concerns</name>
        <label>Details_concerns</label>
        <locationX>1893</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Process_creation</targetReference>
        </connector>
        <fields>
            <name>Details_concerns_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AnimalsBehaviour</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please describe the animal&apos;s behaviour:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OutputAnimalsBehaviour</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_concerns_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_date</name>
        <label>Details_date</label>
        <locationX>2297</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_describe</targetReference>
        </connector>
        <fields>
            <name>Details_date_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_date_text</name>
            <fieldText>&lt;p&gt;Please provide the date and time that you noticed the dangerous animal.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_date_dateInput</name>
            <extensionName>c:DSHLC_FlowDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_date_dateInput_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Date you saw the animal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Details_date_dateInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the date.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_date_dateInput_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_date_timeInput</name>
            <extensionName>c:DSHLC_FlowTime</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Time you saw the animal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_date_timeInput_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Details_date_timeInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the time.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_date_timeInput_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_date_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_describe</name>
        <label>Details_describe</label>
        <locationX>2071</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_concerns</targetReference>
        </connector>
        <fields>
            <name>Details_describe_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AnimalType</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What sort of animal is it for example, dog, cat, bull, seagull.: </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outputAnimalType</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_describe_text</name>
            <fieldText>&lt;p&gt;Please tell us about the animal, it really helps us to know any of these details if you know them:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Breed&lt;/li&gt;&lt;li&gt;Colour&lt;/li&gt;&lt;li&gt;Name&lt;/li&gt;&lt;li&gt;Does it have a collar,&lt;/li&gt;&lt;li&gt;Gender,&lt;/li&gt;&lt;li&gt;Distinguishing marks.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnimalDescription</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please describe the animal:</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_describe_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_describe_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_evidence</name>
        <label>Details_evidence</label>
        <locationX>1694</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FurtherDetails</targetReference>
        </connector>
        <fields>
            <name>Details_evidence_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_evidence_text</name>
            <fieldText>&lt;p&gt;Please upload a file:&lt;/p&gt;&lt;p&gt;This could be an image of the animal or and evidence you have of its behaviour if you have any.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_evidence_uploadInput</name>
            <extensionName>c:DSHLC_FlowFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customRecordId</name>
                <value>
                    <elementReference>newProcess_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File upload:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_evidence_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_1</name>
        <label>Eligibility_1</label>
        <locationX>1092</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eligibility_1_decision</targetReference>
        </connector>
        <fields>
            <name>Eligibility_1_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_text</name>
            <fieldText>&lt;p&gt;Has the animal:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;been aggressive and is wandering loose.&lt;/li&gt;&lt;li&gt;injured someone.&lt;/li&gt;&lt;li&gt;made someone worried that it might injure them.&lt;/li&gt;&lt;li&gt;injured someone&apos;s animal.&lt;/li&gt;&lt;li&gt;made the owner of an animal think they could be injured if they tried to stop the &apos;out of control&apos; animal attacking their animal.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_1_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does the animal fit the above description?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Eligibility_1_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please choose an option.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Eligibility_1_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Eligibility_1_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_1_response</name>
        <label>Eligibility_1_response</label>
        <locationX>1248</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Eligibility_1_response_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_response_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>caution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Sorry, you are not able to complete this form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>To complete this form and make a complaint you must be over 18 years of age.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_response_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_1_response_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_2</name>
        <label>Eligibility_2</label>
        <locationX>1291</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eligibility_2_decision</targetReference>
        </connector>
        <fields>
            <name>Eligibility_2_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_2_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you have any evidence?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Eligibility_2_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please choose an option.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Eligibility_2_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Eligibility_2_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_2_response</name>
        <label>Eligibility_2_response</label>
        <locationX>1504</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Eligibility_2_response_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_response_text</name>
            <fieldText>&lt;p&gt;As the animal does not fit the description of a dangerous or out of control animal we are unable to continue your report.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_2_response_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FurtherDetails</name>
        <label>FurtherDetails</label>
        <locationX>1542</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Process_update</targetReference>
        </connector>
        <fields>
            <name>FurtherDetails_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FurtherDetails_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PoliceRefNumber</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>If you have reported this to the Police what is the reference number they provided you?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>The Police may also call this a Log Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FurtherDetails_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FurtherDetails_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GeneralInfo_1</name>
        <label>GeneralInfo</label>
        <locationX>852</locationX>
        <locationY>180</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Eligibility_1</targetReference>
        </connector>
        <fields>
            <name>GeneralInfo_1_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GeneralInfo_1_infoText</name>
            <fieldText>&lt;p&gt;Please note this form is not for stray or lost animals.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If the situation is urgent or you have been involved in an attack please contact the Police first by calling 999.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the situation is less urgent or you have already logged the complaint with the police please continue with this form.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Below is outlined the law for dogs however this for can be used to report any animal  that is &apos;dangerous&apos; or  out of control.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It&apos;s against the law to let a dog be dangerously out of control anywhere whether it&apos;s a public or private place. This applies to all dogs.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;What does &apos;out of control&apos; mean?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;A dog is considered dangerously out of control if it:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Injures someone&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Makes someone worried that it might injure them&lt;/p&gt;&lt;p&gt;A court could also decide that your dog is dangerously out of control if:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;It injures someone&apos;s animal&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The owner of the animal thinks they could be injured if they tried to stop your dog attacking their animal&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Penalties:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Out of control&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You can be fined or sent to prison for up to 6 months (or both) if your dog is dangerously out of control. You may not be allowed to own a dog in the future and your dog may be destroyed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Injury&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If you let your dog injure someone you can be sent to prison for up to 5 years or fined (or both). If you deliberately use your dog to injure someone you could be charged with &apos;malicious wounding&apos;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you allow your dog to injure a guide dog you can be sent to prison for up to 3 years or fined (or both).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Death&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If you allow your dog to kill someone you can be sent to prison for up to 14 years or get an unlimited fine (or both).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeneralInfo_1_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location</name>
        <label>Location</label>
        <locationX>2299</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Location_decision</targetReference>
        </connector>
        <fields>
            <name>Location_question_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_question_text</name>
            <fieldText>&lt;p&gt;Please choose how you would like to tell us where the dangerous animal is.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Map&lt;/b&gt; - you can pick the location by placing a pin on the map and also describe it.&lt;/li&gt;&lt;li&gt;&lt;b&gt;Address&lt;/b&gt; - &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You do not need a full address, part of the address will also work. You could use street name and property number or postcode.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Describe the Location&lt;/b&gt; - you can write about the place. You could use directions, landmarks, or other details to help us find it.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How would you like to tell us about the place where this was?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>Location_question_options</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please choose an option.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_question_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_address</name>
        <label>Location_address</label>
        <locationX>2305</locationX>
        <locationY>713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_address_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_address_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You do not need a full address, part of the address will also work. You could use street name and property number or postcode. You can also describe&lt;/span&gt; the way the animal is going&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_address_input</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address of the location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_address_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Location_address_input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>This doesn&apos;t have to be the full address, for example the street name or postcode.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_address_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_address_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_describe</name>
        <label>Location_describe</label>
        <locationX>2519</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_describe_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_describe_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You can write about the where you saw the animal. You could use directions, landmarks, or other details to help us find it. And describe &lt;/span&gt;the way the animal is going.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_describe_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_describe_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Describe the place</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Try to use street names, landmarks, and near-by shops</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please describe the location.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_describe_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_describe_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_map</name>
        <label>Location_map</label>
        <locationX>2093</locationX>
        <locationY>620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_map_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_map_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You can pick the location by placing a pin on the map and can then provide additional details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_map_textLabel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Find the location of the incident on the map&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_map_mapInput</name>
            <extensionName>c:DSHLC_FlowMap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMarkerPlacement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenMarkerMissing</name>
                <value>
                    <stringValue>Please place a pin in the map.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>markerLatitudeDecimal</name>
                <value>
                    <elementReference>Location_map_mapInput_NumberValue_Lat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>markerLongitudeDecimal</name>
                <value>
                    <elementReference>Location_map_mapInput_NumberValue_Long</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_map_mapInput_NumberValue_Lat</assignToReference>
                <name>markerLatitudeDecimal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Location_map_mapInput_NumberValue_Long</assignToReference>
                <name>markerLongitudeDecimal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_map_extraInfo</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Further information about the location or the way the animal is going</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_map_extraInfo_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please provide the information.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_map_extraInfo_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_map_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reporting</name>
        <label>Reporting</label>
        <locationX>1871</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reporting_decision</targetReference>
        </connector>
        <fields>
            <name>Reporting_who_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_who_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Are you reporting the dangerous animal on someone else&apos;s behalf?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_who_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no_dontknow</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>This field is required, please choose an option.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_who_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_who_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reporting_contact</name>
        <label>Reporting_contact</label>
        <locationX>2033</locationX>
        <locationY>412</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Location</targetReference>
        </connector>
        <fields>
            <name>Reporting_contact_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_contact_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please include the contact details of the person you are reporting for.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reporting_contact_name</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name of the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_contact_name_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Reporting_contact_name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please enter the other person&apos;s name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_contact_name_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_contact_details</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact details of the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_contact_details_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Include any details you know, for example their email, mobile or address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please enter any contact details you have for the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_contact_details_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_contact_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_1</name>
        <label>TechnicalError_1</label>
        <locationX>182</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_1_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-001</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_2</name>
        <label>TechnicalError_2</label>
        <locationX>567</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_2_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-002</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_3</name>
        <label>TechnicalError_3</label>
        <locationX>1092</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_3_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-003</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_4</name>
        <label>TechnicalError_4</label>
        <locationX>1890</locationX>
        <locationY>543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_4_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something has gone wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-004</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_5</name>
        <label>TechnicalError_5</label>
        <locationX>1694</locationX>
        <locationY>981</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_5_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-005</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something has gone wrong</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_6</name>
        <label>TechnicalError_6</label>
        <locationX>1541</locationX>
        <locationY>987</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_6_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-006</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_7</name>
        <label>TechnicalError_7</label>
        <locationX>1299</locationX>
        <locationY>993</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_7_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-007</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Process_get_recordType</startElementReference>
    <status>Draft</status>
    <subflows>
        <description>Get the Contact record associate with the current user if there is one, otherwise it would use the one specified by the flow input for the Contact record ID.</description>
        <name>Contact_get_current_record</name>
        <label>Contact_get_current_record</label>
        <locationX>847</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Contact_get_current_record_decision</targetReference>
        </connector>
        <flowName>DSHLC_Get_Contact</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentContact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Details_concerns_checkboxOptions</name>
        <text>[{&quot;label&quot;:&quot;Electric &quot;,&quot;value&quot;:&quot;electric &quot;},{&quot;label&quot;:&quot;Gas&quot;,&quot;value&quot;:&quot;gas&quot;},{&quot;label&quot;:&quot;Structural &quot;,&quot;value&quot;:&quot;structural &quot;},{&quot;label&quot;:&quot;Damp and Mould&quot;,&quot;value&quot;:&quot;damp mold&quot;},{&quot;label&quot;:&quot;Security &quot;,&quot;value&quot;:&quot;security &quot;},{&quot;label&quot;:&quot;Other&quot;,&quot;value&quot;:&quot;other&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>Location_question_options</name>
        <text>[{&quot;label&quot;:&quot;Using a map&quot;,&quot;value&quot;:&quot;map&quot;},{&quot;label&quot;:&quot;I know the address&quot;,&quot;value&quot;:&quot;address&quot;},{&quot;label&quot;:&quot;I can describe the location&quot;,&quot;value&quot;:&quot;describe&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <description>This is for easily adding the options Yes and No to a radio button group</description>
        <name>radioOptions_yes_no</name>
        <text>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;:&quot;yes&quot;},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;:&quot;no&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>radioOptions_yes_no_dontknow</name>
        <text>[{&quot;label&quot;:&quot;Yes&quot;, &quot;value&quot;: &quot;yes&quot;},{&quot;label&quot;:&quot;No&quot;, &quot;value&quot;: &quot;no&quot;},{&quot;label&quot;:&quot;Don&apos;t know&quot;, &quot;value&quot;: &quot;dont know&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>Reportit_template_processValues</name>
        <text>Reporting a dangerous animal:

Date and time that the dangerous animal was noticed:  
{!Details_date_dateInput_value} ({!Details_date_timeInput_value}) 

Contact details of other person:
Name: {!Reporting_contact_name_value}
Contact details: {!Reporting_contact_details_value}

Animal type:
{!outputAnimalType}

Description of the animal:
{!Details_describe_input_value}

Where the dangerous animal was seen:  
{!Location_address_input_value} {!Location_describe_input_value} 
Location - Map: 
Extra location information: {!Location_map_extraInfo_value}

Description of the animal&apos;s behaviour:
{!OutputAnimalsBehaviour}

Police log or reference number, if the animal has been reported to them:  
{!FurtherDetails_input_value}

Please check for attached files</text>
    </textTemplates>
    <textTemplates>
        <description>Name of the form as shown in the page subtitle</description>
        <name>subtitle_text</name>
        <text>Reporting a dangerous animal</text>
    </textTemplates>
    <variables>
        <description>The particular Contact record ID to run the flow against if the current User does not have an associate Contact already.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>In CRM this is passed into flow, it holds the Id of the council service record that the flow was launched from.</description>
        <name>councilServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A record variable that represents the Contact record for whom the report is about, either the DSH contact or the contact the CRM user has selected.</description>
        <name>currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Details_concerns_checkboxInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_date_dateInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_date_timeInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_describe_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Eligibility_1_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Eligibility_2_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FurtherDetails_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_address_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_describe_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_extraInfo_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_mapInput_NumberValue_Lat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Location_map_mapInput_NumberValue_Long</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Location_map_mapInput_value_Lat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_mapInput_value_Long</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newProcess_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newProcess_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputAnimalsBehaviour</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputAnimalType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Process_record_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Related_party_record_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_contact_details_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_contact_name_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_who_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
