flows/ARCIMP_Report_It_Abandoned_Vehicles_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Decision after getting the current contact</description>
        <name>Contact_get_current_record_decision</name>
        <label>Contact_get_current_record_decision</label>
        <locationX>839</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_get_current_record_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralInfo_1</targetReference>
            </connector>
            <label>Contact_get_current_record_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility_1_decision</name>
        <label>Eligibility_1_decision</label>
        <locationX>1241</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Location_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_1_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_1_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eligibility_1_response</targetReference>
            </connector>
            <label>Eligibility_1_decision_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility_2_decision</name>
        <label>Eligibility_2_decision</label>
        <locationX>1509</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Eligibility_2_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_2_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_2_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting</targetReference>
            </connector>
            <label>Eligibility_2_decision_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_decision</name>
        <label>Location_decision</label>
        <locationX>2607</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Location_describe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_decision_map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>map</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_map</targetReference>
            </connector>
            <label>Location_decision_map</label>
        </rules>
        <rules>
            <name>Location_decision_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_address</targetReference>
            </connector>
            <label>Location_decision_address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_get_recordType_decision</name>
        <label>Process_get_recordType_decision</label>
        <locationX>392</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_get_recordType_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RelatedParty_get_recordType</targetReference>
            </connector>
            <label>Process_get_recordType_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>RelatedParty_get_recordType_decision</name>
        <label>RelatedParty_get_recordType_decision</label>
        <locationX>559</locationX>
        <locationY>780</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RelatedParty_get_recordType_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_party_record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_get_current_record</targetReference>
            </connector>
            <label>RelatedParty_get_recordType_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reporting_decision</name>
        <label>Reporting_decision</label>
        <locationX>1814</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reporting_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_who_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_contact</targetReference>
            </connector>
            <label>Reporting_decision_yes</label>
        </rules>
        <rules>
            <name>Reporting_decision_dontknow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_who_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dont know</stringValue>
                </rightValue>
            </conditions>
            <label>Reporting_decision_dontknow</label>
        </rules>
    </decisions>
    <description>A flow to allow users to submit an abandoned vehicle</description>
    <interviewLabel>ARCIMP_Report_It_Abandoned_Vehicles_Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>ARCIMP_Report_It_Abandoned_Vehicles_Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Process_creation</name>
        <label>Process_creation</label>
        <locationX>1893</locationX>
        <locationY>973</locationY>
        <assignRecordIdToReference>newProcess_Id</assignRecordIdToReference>
        <connector>
            <targetReference>RelatedParty_creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_4</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Council_Service__c</field>
            <value>
                <elementReference>councilServiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Process_record_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Contact__c</field>
            <value>
                <elementReference>currentContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Coordinates__Latitude__s</field>
            <value>
                <elementReference>Location_map_mapInput_NumberValue_Lat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Coordinates__Longitude__s</field>
            <value>
                <elementReference>Location_map_mapInput_NumberValue_Long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Received_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Source__c</field>
            <value>
                <stringValue>Online Submission</stringValue>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Activity__c</object>
    </recordCreates>
    <recordCreates>
        <name>RelatedParty_creation</name>
        <label>RelatedParty_creation</label>
        <locationX>1694</locationX>
        <locationY>973</locationY>
        <connector>
            <targetReference>Details_evidence</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_5</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Related_party_record_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Related_Activity__c</field>
            <value>
                <elementReference>newProcess_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Related_Person__c</field>
            <value>
                <elementReference>currentContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Related_Contact__c</object>
    </recordCreates>
    <recordLookups>
        <name>Process_get_record</name>
        <label>Process_get_record</label>
        <locationX>1300</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>TechnicalError_7</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newProcess_Id</elementReference>
            </value>
        </filters>
        <object>arcusregserv__RS_Activity__c</object>
        <outputAssignments>
            <assignToReference>newProcess_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Process_get_recordType</name>
        <label>Process_get_recordType</label>
        <locationX>399</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_get_recordType_decision</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Report_Investigation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcusregserv__RS_Activity__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Process_record_type</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RelatedParty_get_recordType</name>
        <label>RelatedParty_get_recordType</label>
        <locationX>399</locationX>
        <locationY>778</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedParty_get_recordType_decision</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcusregserv__RS_Related_Contact__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Related_party_record_type</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Process_update</name>
        <label>Process_update</label>
        <locationX>1540</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Process_get_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_6</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newProcess_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcusregserv__Description__c</field>
            <value>
                <elementReference>Reportit_template_processValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcusregserv__Status__c</field>
            <value>
                <stringValue>Complaint Received</stringValue>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Activity__c</object>
    </recordUpdates>
    <screens>
        <name>DebugScreen</name>
        <label>DebugScreen</label>
        <locationX>224</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_get_recordType</targetReference>
        </connector>
        <fields>
            <name>DebugScreenDetails</name>
            <fieldText>&lt;p&gt;TEMP SCREEN ADDED BY ARCUS - please do not report as an issue&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;councilServiceId = &lt;/span&gt;{!councilServiceId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Details_concerns</name>
        <label>Details_concerns</label>
        <locationX>1009</locationX>
        <locationY>1429</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Details_concerns_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_conerns_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_concerns_checkboxInput</name>
            <extensionName>c:DSHLC_FlowCheckbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What is making you concerned?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_concerns_checkboxInput_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>Details_concerns_checkboxOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_concerns_checkboxInput_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_concerns_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_date</name>
        <label>Details_date</label>
        <locationX>2297</locationX>
        <locationY>1239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_describe</targetReference>
        </connector>
        <fields>
            <name>Details_date_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_date_text</name>
            <fieldText>&lt;p&gt;Provide a date for when you first noticed the vehicle&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_date_dateInput</name>
            <extensionName>c:DSHLC_FlowDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_date_dateInput_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Details_date_dateInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please tell us the date of the incident</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_date_dateInput_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_date_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_describe</name>
        <label>Vehicle Details</label>
        <locationX>2072</locationX>
        <locationY>1239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vehicle_Details_2</targetReference>
        </connector>
        <fields>
            <name>Details_describe_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_describe_text</name>
            <fieldText>&lt;p&gt;Please provide the vehicle details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The more detailed the information the easier it will be for one of the officers to locate it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Registration_Number</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Registration number of the vehicle (if known)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Vehicle_Registration_Input</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Vehicle_Registration_Input</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Vehicle_Make_screen</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vehicle make</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Vehicle_make</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Vehicle_make</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Vehicle_model_Screen</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vehicle model</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Vehicle_model</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Vehicle_model</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Vehicle_colour</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vehicle colour</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Vehiclecolour</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Vehiclecolour</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_describe_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_evidence</name>
        <label>File Upload</label>
        <locationX>1694</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Process_update</targetReference>
        </connector>
        <fields>
            <name>Details_evidence_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_evidence_text</name>
            <fieldText>&lt;p&gt;Please upload a file:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_evidence_uploadInput</name>
            <extensionName>c:DSHLC_FlowFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customRecordId</name>
                <value>
                    <elementReference>newProcess_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Evidence of the issue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_evidence_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_1</name>
        <label>Eligibility_1</label>
        <locationX>1093</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eligibility_1_decision</targetReference>
        </connector>
        <fields>
            <name>Eligibility_1_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does the vehicle move?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Eligibility_1_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Is the vehicle moved by a driver/changes location</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Eligibility_1_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Eligibility_1_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_1_response</name>
        <label>Eligibility_1_response</label>
        <locationX>1250</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Eligibility_1_response_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_response_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>caution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Sorry, you are not able to complete this form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>If the vehicle is moving then it is not abandoned</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_response_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_1_response_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_2</name>
        <label>Eligibility_2</label>
        <locationX>1358</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eligibility_2_decision</targetReference>
        </connector>
        <fields>
            <name>Eligibility_2_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_2_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you have any evidence?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Eligibility_2_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Eligibility_2_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Eligibility_2_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_2_response</name>
        <label>Eligibility_2_response</label>
        <locationX>1031</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Eligibility_2_response_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_response_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_2_response_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FurtherDetails</name>
        <label>FurtherDetails</label>
        <locationX>849</locationX>
        <locationY>1433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FurtherDetails_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FurtherDetails_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>FurtherDetails_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provide any further information on the incident, location or any other information that might be relevant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FurtherDetails_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FurtherDetails_text</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FurtherDetails_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GeneralInfo_1</name>
        <label>GeneralInfo</label>
        <locationX>848</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Eligibility_1</targetReference>
        </connector>
        <fields>
            <name>GeneralInfo_1_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GeneralInfo_1_infoText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Report an abandoned vehicle you have seen using our online service.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;You can help us by using the online form to tell us about any suspected abandoned vehicles in your area. Please provide us with as much information as you can. If sufficient vehicle information is not provided we may not be able to investigate your report any further.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;If the vehicle is taxed it is entitled to be parked on the public highway and we will take no further action at this stage.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Please click on the link below to open the DVLA website in a new window and check whether the vehicle is taxed before you proceed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://vehicleenquiry.service.gov.uk/&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: black; font-size: 14px;&quot;&gt;﻿DVLA Website&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;If the vehicle moves it has an owner and is therefore not abandoned. In this instance we will take no further action.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeneralInfo_1_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location</name>
        <label>Location</label>
        <locationX>2618</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Location_decision</targetReference>
        </connector>
        <fields>
            <name>Location_question_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_question_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please choose how you would like to tell us where the abandoned vehicle is located; this will help us to investigate and resolve the issue.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Map&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; - &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;you can pick the place by putting a pin on the map and also describe it.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Address&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; - &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You do not need a full address, part of the address will also work. You could use street name and property number or postcode.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Describe the Location&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; - you can write about the place. You could use directions, landmarks, or other details to help us find it.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How would you like to tell us where you saw the abandoned vehicle?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>Location_question_options</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_question_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_address</name>
        <label>Location_address</label>
        <locationX>2622</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_address_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_address_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You do not need a full address, part of the address will also work. You could use street name and property number or postcode.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_address_input</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address of the location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_address_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Location_address_input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>This doesn&apos;t have to be the full address, for example the street name or postcode.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_address_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_address_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_describe</name>
        <label>Location_describe</label>
        <locationX>2848</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_describe_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_describe_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You can write about the place. You could use directions, landmarks, or other details to help us find it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_describe_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_describe_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Describe the location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Try to use street names, landmarks, and near-by shops</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please describe the location.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_describe_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_describe_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_map</name>
        <label>Location_map</label>
        <locationX>2413</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_map_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_map_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You can pick the location by placing a pin on the map and can then provide additional details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_map_textLabel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Find the location of the incident on the map&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_map_mapInput</name>
            <extensionName>c:DSHLC_FlowMap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMarkerPlacement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenMarkerMissing</name>
                <value>
                    <stringValue>Please place a pin in the map.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>markerLatitudeDecimal</name>
                <value>
                    <elementReference>Location_map_mapInput_NumberValue_Lat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>markerLongitudeDecimal</name>
                <value>
                    <elementReference>Location_map_mapInput_NumberValue_Long</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_map_mapInput_NumberValue_Lat</assignToReference>
                <name>markerLatitudeDecimal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Location_map_mapInput_NumberValue_Long</assignToReference>
                <name>markerLongitudeDecimal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_map_extraInfo</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Further information about the location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_map_extraInfo_value</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_map_extraInfo_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_map_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reporting</name>
        <label>Reporting</label>
        <locationX>1700</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reporting_decision</targetReference>
        </connector>
        <fields>
            <name>Reporting_who_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_who_text</name>
            <fieldText>&lt;p&gt;Are you reporting the issue or are you reporting on someone else&apos;s behalf&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reporting_who_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this report being made on someone else&apos;s behalf?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_who_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no_dontknow</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_who_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_who_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reporting_contact</name>
        <label>Reporting_contact</label>
        <locationX>2067</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Reporting_contact_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_contact_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please include the contact details of the person you are reporting for.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reporting_contact_name</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name of the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_contact_name_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Reporting_contact_name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please enter the other person&apos;s name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_contact_name_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_contact_details</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact details of the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_contact_details_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Include any details you know, for example their email, mobile or address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please enter any contact details you have for the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_contact_details_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_contact_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_1</name>
        <label>TechnicalError_1</label>
        <locationX>182</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_1_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-001</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_2</name>
        <label>TechnicalError_2</label>
        <locationX>567</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_2_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-002</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_3</name>
        <label>TechnicalError_3</label>
        <locationX>1092</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_3_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-003</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_4</name>
        <label>TechnicalError_4</label>
        <locationX>1890</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_4_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something has gone wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-004</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_5</name>
        <label>TechnicalError_5</label>
        <locationX>1694</locationX>
        <locationY>1237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_5_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-005</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something has gone wrong</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_6</name>
        <label>TechnicalError_6</label>
        <locationX>1541</locationX>
        <locationY>1243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_6_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-006</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_7</name>
        <label>TechnicalError_7</label>
        <locationX>1299</locationX>
        <locationY>1249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_7_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-007</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vehicle_Details_2</name>
        <label>Vehicle Details 2</label>
        <locationX>1893</locationX>
        <locationY>1239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_creation</targetReference>
        </connector>
        <fields>
            <name>Subtitle_Text_2</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_display_2</name>
            <fieldText>&lt;p&gt;Please provide some more details about the vehicle.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The more detailed the information the easier it will be for one of the officers to locate it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vehicle_Condition</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What is the condition of the vehicle?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>RadioOptions_Vehicle_Condition</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Output_Vehicle_Condition</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Output_Vehicle_Condition</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Vehicle_Owned</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you know if someone owns the vehicle?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Output_Owned_yes_No</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Output_Owned_yes_No</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Duration_Of_vehicle</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Output_duration_of_vehicle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>RadioOptions_Duration_of_vehicle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How long has the vehicle been in this location?</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Output_duration_of_vehicle</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_describe_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Any additional details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_describe_input_value</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_describe_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DSH_Navigation_Details_Screen_2</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Process_get_recordType</startElementReference>
    <status>Draft</status>
    <subflows>
        <description>Get the Contact record associate with the current user if there is one, otherwise it would use the one specified by the flow input for the Contact record ID.</description>
        <name>Contact_get_current_record</name>
        <label>Contact_get_current_record</label>
        <locationX>847</locationX>
        <locationY>778</locationY>
        <connector>
            <targetReference>Contact_get_current_record_decision</targetReference>
        </connector>
        <flowName>DSHLC_Get_Contact</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentContact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Location_Selection</name>
        <label>Location Selection</label>
        <locationX>2078</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <flowName>CRM_SUBFLOW_LOCATION_SELECTION</flowName>
        <inputAssignments>
            <name>Report_Type_Name</name>
        </inputAssignments>
        <inputAssignments>
            <name>subtitle_text</name>
            <value>
                <elementReference>subtitle_text</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Location_address_input_value</assignToReference>
            <name>Location_address_input_value</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Location_describe_input_value</assignToReference>
            <name>Location_describe_input_value</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Location_map_extraInfo_value</assignToReference>
            <name>Location_map_extraInfo_value</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Location_map_mapInput_NumberValue_Lat</assignToReference>
            <name>Location_map_mapInput_NumberValue_Lat</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Location_map_mapInput_NumberValue_Long</assignToReference>
            <name>Location_map_mapInput_NumberValue_Long</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Details_concerns_checkboxOptions</name>
        <text>[{&quot;label&quot;:&quot;Electric &quot;,&quot;value&quot;:&quot;electric &quot;},{&quot;label&quot;:&quot;Gas&quot;,&quot;value&quot;:&quot;gas&quot;},{&quot;label&quot;:&quot;Structural &quot;,&quot;value&quot;:&quot;structural &quot;},{&quot;label&quot;:&quot;Damp and Mould&quot;,&quot;value&quot;:&quot;damp mold&quot;},{&quot;label&quot;:&quot;Security &quot;,&quot;value&quot;:&quot;security &quot;},{&quot;label&quot;:&quot;Other&quot;,&quot;value&quot;:&quot;other&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>Location_question_options</name>
        <text>[{&quot;label&quot;:&quot;Using a map&quot;,&quot;value&quot;:&quot;map&quot;},{&quot;label&quot;:&quot;I know the address&quot;,&quot;value&quot;:&quot;address&quot;},{&quot;label&quot;:&quot;I can describe the location&quot;,&quot;value&quot;:&quot;describe&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>RadioOptions_Duration_of_vehicle</name>
        <text>[{&quot;label&quot;:&quot;1-4 Weeks&quot;, &quot;value&quot;: &quot;1-4 Weeks&quot;},{&quot;label&quot;:&quot;1-3 Weeks&quot;, &quot;value&quot;: &quot;1-3 Weeks&quot;},{&quot;label&quot;:&quot;3-6 Months&quot;, &quot;value&quot;: &quot;3-6 Months&quot;},{&quot;label&quot;:&quot;More than 6 Months&quot;, &quot;value&quot;: &quot;More than 6 Months&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>RadioOptions_Vehicle_Condition</name>
        <text>[{&quot;label&quot;:&quot;Burnt Out&quot;, &quot;value&quot;: &quot;Burnt Out&quot;},{&quot;label&quot;:&quot;Damaged and Dangerous&quot;, &quot;value&quot;: &quot;Damaged and Dangerous&quot;},{&quot;label&quot;:&quot;Looks ok&quot;, &quot;value&quot;: &quot;Looks ok&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <description>This is for easily adding the options Yes and No to a radio button group</description>
        <name>radioOptions_yes_no</name>
        <text>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;:&quot;yes&quot;},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;:&quot;no&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>radioOptions_yes_no_dontknow</name>
        <text>[{&quot;label&quot;:&quot;Yes&quot;, &quot;value&quot;: &quot;yes&quot;},{&quot;label&quot;:&quot;No&quot;, &quot;value&quot;: &quot;no&quot;},{&quot;label&quot;:&quot;Don&apos;t know&quot;, &quot;value&quot;: &quot;dont know&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>Reportit_template_processValues</name>
        <text>Date vehicle was first noticed:
{!Details_date_dateInput_value} 

Location of the incident:  
{!Location_address_input_value} {!Location_describe_input_value} 
Location - Map: 
Extra location information: {!Location_map_extraInfo_value}

Details of the vehicle:
Registration: {!Vehicle_Registration_Input}
Make: {!Vehicle_make}
Model: {!Vehicle_model}
Colour: {!Vehiclecolour}
Condition: {!Output_Vehicle_Condition}
How long has it been there: {!Output_duration_of_vehicle}
Does someone own the vehicle: {!Output_Owned_yes_No}

Additional details:
{!Details_describe_input_value}</text>
    </textTemplates>
    <textTemplates>
        <description>Name of the form as shown in the page subtitle</description>
        <name>subtitle_text</name>
        <text>Report a suspected abandoned vehicle</text>
    </textTemplates>
    <variables>
        <description>The particular Contact record ID to run the flow against if the current User does not have an associate Contact already.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>In CRM this is passed into flow, it holds the Id of the council service record that the flow was launched from.</description>
        <name>councilServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A record variable that represents the Contact record for whom the report is about, either the DSH contact or the contact the CRM user has selected.</description>
        <name>currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Details_concerns_checkboxInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_date_dateInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_date_timeInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_describe_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Eligibility_1_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Eligibility_2_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FurtherDetails_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_address_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_describe_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_extraInfo_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_mapInput_NumberValue_Lat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Location_map_mapInput_NumberValue_Long</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Location_map_mapInput_value_Lat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_mapInput_value_Long</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newProcess_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newProcess_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_duration_of_vehicle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_Owned_yes_No</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_Vehicle_Condition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Process_record_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Related_party_record_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_contact_details_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_contact_name_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_who_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_make</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_Registration_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehiclecolour</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
