flows/ARSP_Animal_Activities_Star_Rating_Roll_Up.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ARSP_Change_Star_Rating_Value</name>
        <label>Change Star Rating Value</label>
        <locationX>357</locationX>
        <locationY>84</locationY>
        <assignmentItems>
            <assignToReference>varMinStarRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LicensableActivity.ARSP_Animal_Activities_Star_Rating_No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ARSP_Count_Licensable_Activities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ARSP_Animal_Activities_Star_Rating</name>
        <label>Animal Activities Star Rating</label>
        <locationX>581</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>var_Min_Star_Rating_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMinStarRating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicensableActivity.ARSP_Animal_Activities_Star_Rating_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ARSP_Change_Star_Rating_Value</targetReference>
            </connector>
            <label>var Min Star Rating is Null</label>
        </rules>
        <rules>
            <name>Smaller_Value_of_Star_Rating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMinStarRating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicensableActivity.ARSP_Animal_Activities_Star_Rating_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicensableActivity.ARSP_Animal_Activities_Star_Rating_No__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varMinStarRating</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ARSP_Change_Star_Rating_Value</targetReference>
            </connector>
            <label>Smaller Value of Star Rating</label>
        </rules>
        <rules>
            <name>Greater_Value_of_Star_Rating</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>varMinStarRating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicensableActivity.ARSP_Animal_Activities_Star_Rating_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicensableActivity.ARSP_Animal_Activities_Star_Rating_No__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varMinStarRating</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LicensableActivity.ARSP_Animal_Activities_Star_Rating_No__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varMinStarRating</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ARSP_Count_Licensable_Activities</targetReference>
            </connector>
            <label>Greater Value of Star Rating</label>
        </rules>
        <rules>
            <name>Star_Rating_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LicensableActivity.ARSP_Animal_Activities_Star_Rating_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ARSP_Count_Licensable_Activities</targetReference>
            </connector>
            <label>Star Rating is Null</label>
        </rules>
    </decisions>
    <description>Rolls up the value of the minimum star rating from the licensable activity to the licence proposal</description>
    <interviewLabel>Animal Activities Star Rating Roll Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Animal Activities Star Rating Roll Up</label>
    <loops>
        <name>ARSP_Count_Licensable_Activities</name>
        <label>Count Licensable Activities</label>
        <locationX>118</locationX>
        <locationY>222</locationY>
        <assignNextValueToReference>LicensableActivity</assignNextValueToReference>
        <collectionReference>LicensableActivities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ARSP_Animal_Activities_Star_Rating</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ARSP_Update_Licence_Proposal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ARSP_Lookup_Licensable_Activities</name>
        <label>Lookup Licensable Activities</label>
        <locationX>118</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ARSP_Count_Licensable_Activities</targetReference>
        </connector>
        <filters>
            <field>ARSP_Animal_Activities_Star_Rating_No__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ARSP_Licence_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLicPropId</elementReference>
            </value>
        </filters>
        <object>arcusregserv__RS_Licensable_Activity__c</object>
        <outputReference>LicensableActivities</outputReference>
        <queriedFields>ARSP_Animal_Activities_Star_Rating_No__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ARSP_Update_Licence_Proposal</name>
        <label>Update Licence Proposal</label>
        <locationX>116</locationX>
        <locationY>372</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLicPropId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ARSP_Animal_Activities_Star_Rating__c</field>
            <value>
                <elementReference>varMinStarRating</elementReference>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Licence__c</object>
    </recordUpdates>
    <startElementReference>ARSP_Lookup_Licensable_Activities</startElementReference>
    <status>Draft</status>
    <variables>
        <name>LicensableActivities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusregserv__RS_Licensable_Activity__c</objectType>
    </variables>
    <variables>
        <name>LicensableActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusregserv__RS_Licensable_Activity__c</objectType>
    </variables>
    <variables>
        <name>VarLicPropId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMinStarRating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
