flows/BE_Update_Outstanding_Balance_From_Financial_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Add / take away the Amount on the current Financial Record at this stage in the loop to / from the total outstanding balance.</description>
        <name>Add_to_Outstanding_Balance</name>
        <label>Add to Outstanding Balance</label>
        <locationX>458</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>outstandingBalance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>makeAmountPositiveOrNegative</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Financial_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Diverts the flow to update records of different SObject types depending on which lookup is populated on the Financial Record.</description>
        <name>What_Sobject_Type_is_parent</name>
        <label>What Sobject Type is parent</label>
        <locationX>672</locationX>
        <locationY>369</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appeal_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>triggeringFinancialRecord.arcusbuiltenv__Appeal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Appeal_Parent</targetReference>
            </connector>
            <label>Appeal is populated</label>
        </rules>
        <rules>
            <name>Building_Control_Application_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>triggeringFinancialRecord.arcusbuiltenv__Building_Control_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Building_Control_Application_Parent</targetReference>
            </connector>
            <label>Building Control Application is populated</label>
        </rules>
        <rules>
            <name>Enforcement_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>triggeringFinancialRecord.arcusbuiltenv__Enforcement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enforcement_Parent</targetReference>
            </connector>
            <label>Enforcement is populated</label>
        </rules>
        <rules>
            <name>Planning_Application_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>triggeringFinancialRecord.arcusbuiltenv__Planning_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Planning_Application_Parent</targetReference>
            </connector>
            <label>Planning Application is populated</label>
        </rules>
        <rules>
            <name>Stage_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>triggeringFinancialRecord.arcusbuiltenv__Stage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Parent</targetReference>
            </connector>
            <label>Stage is populated</label>
        </rules>
        <rules>
            <name>Street_Naming_And_Numbering_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>triggeringFinancialRecord.Street_Naming_Numbering_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Street_Naming_And_Numbering_Parent</targetReference>
            </connector>
            <label>Street Naming And Numbering is populated</label>
        </rules>
    </decisions>
    <description>Accepts a Financial Record that has just been inserted or updated from a Process Builder. Retrieves all its sibling Financial Records and updates the outstanding balance field on the parent record. Agnostic with regard to parent SObject type.</description>
    <formulas>
        <description>Returns the positive or negative value of the Amount field on the current Financial Record in the loop, depending on the record type and Payer / Payee Type of the Financial Record.</description>
        <name>addOrSubtractTheAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(
    (
        ISPICKVAL({!loopFinancialRecord.arcshared__Payer_Type__c}, &apos;Council&apos;) &amp;&amp;
        ISPICKVAL({!loopFinancialRecord.arcshared__Payee_Type__c}, &apos;Council&apos;)
    )
    ||
    (
        NOT(ISBLANK(TEXT({!loopFinancialRecord.arcshared__Payer_Type__c}))) &amp;&amp;
        NOT(ISBLANK(TEXT({!loopFinancialRecord.arcshared__Payee_Type__c}))) &amp;&amp;
        NOT(ISPICKVAL({!loopFinancialRecord.arcshared__Payer_Type__c}, &apos;Council&apos;)) &amp;&amp;
        NOT(ISPICKVAL({!loopFinancialRecord.arcshared__Payee_Type__c}, &apos;Council&apos;))
    ),
    0,
    CASE(
        {!loopFinancialRecord.RecordTypeId},
        {!payableRecordType.Id},
        IF(
            ISPICKVAL({!loopFinancialRecord.arcshared__Payer_Type__c}, &apos;Council&apos;),
            -1,
            1
        ),
        {!paymentRecordType.Id},
        IF(
            ISPICKVAL({!loopFinancialRecord.arcshared__Payer_Type__c}, &apos;Council&apos;),
            1,
            -1
        ),
        0
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Multiplies the Amount of the current Financial Record in the loop by -1 or leaves it alone depending on the result of the other formula.</description>
        <name>makeAmountPositiveOrNegative</name>
        <dataType>Currency</dataType>
        <expression>{!addOrSubtractTheAmount}*{!loopFinancialRecord.arcshared__Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Outstanding Balance From Financial Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Outstanding Balance From Financial Record</label>
    <loops>
        <description>Loop over the Financial Records to add them up.</description>
        <name>Loop_over_Financial_Records</name>
        <label>Loop over Financial Records</label>
        <locationX>455</locationX>
        <locationY>368</locationY>
        <assignNextValueToReference>loopFinancialRecord</assignNextValueToReference>
        <collectionReference>financialRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Outstanding_Balance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>What_Sobject_Type_is_parent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all the sibling Financial Records of the initial one.</description>
        <name>Get_Financial_Records</name>
        <label>Get Financial Records</label>
        <locationX>317</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Financial_Records</targetReference>
        </connector>
        <filters>
            <field>arcshared__Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringFinancialRecord.arcshared__Parent_Id__c</elementReference>
            </value>
        </filters>
        <object>arcshared__Financial_Transaction__c</object>
        <outputReference>financialRecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcshared__Amount__c</queriedFields>
        <queriedFields>arcshared__Payer_Type__c</queriedFields>
        <queriedFields>arcshared__Payee_Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieve record type ids for Payable and Payment to use in the outstanding balance calculation.</description>
        <name>Get_Payable_record_type_of_Financial_Record</name>
        <label>Get Payable record type of Financial Record</label>
        <locationX>179</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_record_type_of_Financial_Record</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payable</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcshared</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcshared__Financial_Transaction__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>payableRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get record type id for Payment record type of Financial Record</description>
        <name>Get_Payment_record_type_of_Financial_Record</name>
        <label>Get Payment record type of Financial Record</label>
        <locationX>317</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Financial_Records</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcshared</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcshared__Financial_Transaction__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>paymentRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Query the Financial Record that triggered this, to get its parent id and lookups.</description>
        <name>Get_Triggering_Financial_Record</name>
        <label>Get Triggering Financial Record</label>
        <locationX>178</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payable_record_type_of_Financial_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialRecordId</elementReference>
            </value>
        </filters>
        <object>arcshared__Financial_Transaction__c</object>
        <outputReference>triggeringFinancialRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcshared__Parent_Id__c</queriedFields>
        <queriedFields>arcusbuiltenv__Appeal__c</queriedFields>
        <queriedFields>arcusbuiltenv__Building_Control_Application__c</queriedFields>
        <queriedFields>arcusbuiltenv__Enforcement__c</queriedFields>
        <queriedFields>arcusbuiltenv__Planning_Application__c</queriedFields>
        <queriedFields>arcusbuiltenv__Stage__c</queriedFields>
        <queriedFields>Street_Naming_Numbering_Application__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the Appeal parent with the new outstanding balance.</description>
        <name>Update_Appeal_Parent</name>
        <label>Update Appeal Parent</label>
        <locationX>579</locationX>
        <locationY>188</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringFinancialRecord.arcshared__Parent_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcusbuiltenv__Outstanding_Balance__c</field>
            <value>
                <elementReference>outstandingBalance</elementReference>
            </value>
        </inputAssignments>
        <object>arcusbuiltenv__Appeal__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Building Control Application  parent with the new outstanding balance.</description>
        <name>Update_Building_Control_Application_Parent</name>
        <label>Update Building Control Application Parent</label>
        <locationX>771</locationX>
        <locationY>184</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringFinancialRecord.arcshared__Parent_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcusbuiltenv__Outstanding_Balance__c</field>
            <value>
                <elementReference>outstandingBalance</elementReference>
            </value>
        </inputAssignments>
        <object>arcusbuiltenv__Building_Control_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Enforcement  parent with the new outstanding balance.</description>
        <name>Update_Enforcement_Parent</name>
        <label>Update Enforcement Parent</label>
        <locationX>978</locationX>
        <locationY>180</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringFinancialRecord.arcshared__Parent_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcusbuiltenv__Outstanding_Balance__c</field>
            <value>
                <elementReference>outstandingBalance</elementReference>
            </value>
        </inputAssignments>
        <object>arcusbuiltenv__Enforcement__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Planning Application parent with the new outstanding balance.</description>
        <name>Update_Planning_Application_Parent</name>
        <label>Update Planning Application Parent</label>
        <locationX>1009</locationX>
        <locationY>380</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringFinancialRecord.arcshared__Parent_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcusbuiltenv__Outstanding_Balance__c</field>
            <value>
                <elementReference>outstandingBalance</elementReference>
            </value>
        </inputAssignments>
        <object>arcusbuiltenv__Planning_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Stage parent with the new outstanding balance.</description>
        <name>Update_Stage_Parent</name>
        <label>Update Stage Parent</label>
        <locationX>986</locationX>
        <locationY>516</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringFinancialRecord.arcshared__Parent_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcusbuiltenv__Outstanding_Balance__c</field>
            <value>
                <elementReference>outstandingBalance</elementReference>
            </value>
        </inputAssignments>
        <object>arcusbuiltenv__Stage__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Street Naming And Numbering  parent with the new outstanding balance.</description>
        <name>Update_Street_Naming_And_Numbering_Parent</name>
        <label>Update Street Naming And Numbering Parent</label>
        <locationX>683</locationX>
        <locationY>580</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringFinancialRecord.arcshared__Parent_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outstanding_Balance__c</field>
            <value>
                <elementReference>outstandingBalance</elementReference>
            </value>
        </inputAssignments>
        <object>Street_Naming_Numbering_Application__c</object>
    </recordUpdates>
    <startElementReference>Get_Triggering_Financial_Record</startElementReference>
    <status>Active</status>
    <variables>
        <description>Id of the triggering Financial Record</description>
        <name>financialRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The list of financial records that are related to the parent record.</description>
        <name>financialRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcshared__Financial_Transaction__c</objectType>
    </variables>
    <variables>
        <description>The Financial Record currently being looked at in the loop.</description>
        <name>loopFinancialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcshared__Financial_Transaction__c</objectType>
    </variables>
    <variables>
        <description>The outstanding balance on the parent record.</description>
        <name>outstandingBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Payable record type of Financial Record object</description>
        <name>payableRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Payment record type on Financial Record</description>
        <name>paymentRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>The Financial Record that triggered this, passed in from the Process Builder.</description>
        <name>triggeringFinancialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>arcshared__Financial_Transaction__c</objectType>
    </variables>
</Flow>
