flows/Copy_Related_Parties_to_Appeal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Puts the appeal party record assigned in the last stage in the list to write</description>
        <name>Add_current_appeal_party_to_write_list</name>
        <label>Add current appeal party to write list</label>
        <locationX>238</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>PlanningAppealPartiesToWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAppealParty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Planning_Parties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds current enf appeal party to the list to write</description>
        <name>Add_current_appeal_party_to_write_listENF</name>
        <label>Add current appeal party to write list ENF</label>
        <locationX>1228</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>PlanningEnfPartiesToWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAppealParty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_enforcement_parties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the details from the current enf party to 1 new appeal party</description>
        <name>Assign_appeal_party_data</name>
        <label>Assign appeal party data</label>
        <locationX>1346</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Address_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Address_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Email_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Email_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__External_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__External_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Liability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Liability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Linked_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Linked_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Name_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Name_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Phone_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Phone_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Preferred_Method_of_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Preferred_Method_of_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Preferred_Method_of_Contact_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Preferred_Method_of_Contact_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Record_Type_Dev_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Record_Type_Dev_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.arcusbuiltenv__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.Contact_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.Default_Consultation_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.Default_Consultation_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.Include_in_reconsultations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.Include_in_reconsultations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEnfParty.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Appeal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAppealId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_appeal_party_to_write_listENF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the data from 1 planning party to 1 appeal party</description>
        <name>Assign_to_appeal_party</name>
        <label>Assign to appeal party</label>
        <locationX>565</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Appeal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAppealId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Address_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Address_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Email_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Email_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__External_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__External_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Liability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Liability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Linked_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Linked_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Name_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Name_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Phone_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Phone_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Preferred_Method_of_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Preferred_Method_of_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Preferred_Method_of_Contact_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Preferred_Method_of_Contact_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Record_Type_Dev_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Record_Type_Dev_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.arcusbuiltenv__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.arcusbuiltenv__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.Contact_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.Default_Consultation_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.Default_Consultation_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.Include_in_reconsultations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.Include_in_reconsultations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAppealParty.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentPlanningParty.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_appeal_party_to_write_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks which type of thing has been appealed. This is used so we can pick up the right parent Id and then search the right field on related party for it</description>
        <name>Planning_or_Enforcement_Appeal</name>
        <label>Planning or Enforcement Appeal</label>
        <locationX>591</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppealRecordDetail.arcusbuiltenv__Planning_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppealRecordDetail.arcusbuiltenv__Enforcement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Planning_Parties</targetReference>
            </connector>
            <label>Planning</label>
        </rules>
        <rules>
            <name>Enforcement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppealRecordDetail.arcusbuiltenv__Enforcement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AppealRecordDetail.arcusbuiltenv__Planning_Application__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Enforcement_Parties</targetReference>
            </connector>
            <label>Enforcement</label>
        </rules>
    </decisions>
    <description>Copies related parties from a planning app or enforcement to the appeal created from them</description>
    <interviewLabel>Copy Related Parties to Appeal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Related Parties to Appeal</label>
    <loops>
        <description>Loops through the planning parties to assign their data to new appeal related party records</description>
        <name>Loop_Planning_Parties</name>
        <label>Loop Planning Parties</label>
        <locationX>399</locationX>
        <locationY>578</locationY>
        <assignNextValueToReference>CurrentPlanningParty</assignNextValueToReference>
        <collectionReference>PlanningParties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_appeal_party</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Write_Planning_Appeal_Parties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loops through the found enforcement party records and assigns their detail to new appeal party records</description>
        <name>Loop_through_enforcement_parties</name>
        <label>Loop through enforcement parties</label>
        <locationX>1119</locationX>
        <locationY>217</locationY>
        <assignNextValueToReference>CurrentEnfParty</assignNextValueToReference>
        <collectionReference>EnforcementParties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_appeal_party_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Write_new_ENF_Appeal_parties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Writes the collection of ENF appeal parties to the db</description>
        <name>Write_new_ENF_Appeal_parties</name>
        <label>Write new ENF Appeal parties</label>
        <locationX>869</locationX>
        <locationY>218</locationY>
        <inputReference>PlanningEnfPartiesToWrite</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Writes the contets of the planning appeal parties collection to the db</description>
        <name>Write_Planning_Appeal_Parties</name>
        <label>Write Planning Appeal Parties</label>
        <locationX>760</locationX>
        <locationY>580</locationY>
        <inputReference>PlanningAppealPartiesToWrite</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Finds the appeal record that triggered the flow</description>
        <name>FindAppeal</name>
        <label>FindAppeal</label>
        <locationX>291</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Planning_or_Enforcement_Appeal</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentAppealId</elementReference>
            </value>
        </filters>
        <object>arcusbuiltenv__Appeal__c</object>
        <outputReference>AppealRecordDetail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Enforcement__c</queriedFields>
        <queriedFields>arcusbuiltenv__Planning_Application__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Collects the related party records related to the appealed enforcement</description>
        <name>Get_Enforcement_Parties</name>
        <label>Get Enforcement Parties</label>
        <locationX>1121</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_enforcement_parties</targetReference>
        </connector>
        <filters>
            <field>arcusbuiltenv__Enforcement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppealRecordDetail.arcusbuiltenv__Enforcement__c</elementReference>
            </value>
        </filters>
        <object>arcusbuiltenv__Related_Party__c</object>
        <outputReference>EnforcementParties</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Contact__c</queriedFields>
        <queriedFields>arcusbuiltenv__Account__c</queriedFields>
        <queriedFields>arcusbuiltenv__Role__c</queriedFields>
        <queriedFields>arcusbuiltenv__Address_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Address__c</queriedFields>
        <queriedFields>arcusbuiltenv__Details__c</queriedFields>
        <queriedFields>arcusbuiltenv__Email__c</queriedFields>
        <queriedFields>arcusbuiltenv__Email_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__End_Date__c</queriedFields>
        <queriedFields>arcusbuiltenv__External_Notes__c</queriedFields>
        <queriedFields>arcusbuiltenv__Linked_Name__c</queriedFields>
        <queriedFields>arcusbuiltenv__Name_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Phone__c</queriedFields>
        <queriedFields>arcusbuiltenv__Name__c</queriedFields>
        <queriedFields>arcusbuiltenv__Phone_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Record_Type_Dev_Name__c</queriedFields>
        <queriedFields>Include_in_reconsultations__c</queriedFields>
        <queriedFields>Default_Consultation_Days__c</queriedFields>
        <queriedFields>arcusbuiltenv__Start_Date__c</queriedFields>
        <queriedFields>arcusbuiltenv__Preferred_Method_of_Contact__c</queriedFields>
        <queriedFields>arcusbuiltenv__Preferred_Method_of_Contact_Override__c</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <queriedFields>arcusbuiltenv__Liability__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>arcusbuiltenv__Appeal__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Collects related parties related to the planning app this is an appeal against</description>
        <name>Get_Planning_Parties</name>
        <label>Get Planning Parties</label>
        <locationX>398</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Planning_Parties</targetReference>
        </connector>
        <filters>
            <field>arcusbuiltenv__Planning_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppealRecordDetail.arcusbuiltenv__Planning_Application__c</elementReference>
            </value>
        </filters>
        <object>arcusbuiltenv__Related_Party__c</object>
        <outputReference>PlanningParties</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Contact__c</queriedFields>
        <queriedFields>arcusbuiltenv__Account__c</queriedFields>
        <queriedFields>arcusbuiltenv__Role__c</queriedFields>
        <queriedFields>arcusbuiltenv__Address_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Address__c</queriedFields>
        <queriedFields>arcusbuiltenv__Details__c</queriedFields>
        <queriedFields>arcusbuiltenv__Email__c</queriedFields>
        <queriedFields>arcusbuiltenv__Email_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__End_Date__c</queriedFields>
        <queriedFields>arcusbuiltenv__External_Notes__c</queriedFields>
        <queriedFields>arcusbuiltenv__Linked_Name__c</queriedFields>
        <queriedFields>arcusbuiltenv__Name_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Phone__c</queriedFields>
        <queriedFields>arcusbuiltenv__Name__c</queriedFields>
        <queriedFields>arcusbuiltenv__Phone_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Record_Type_Dev_Name__c</queriedFields>
        <queriedFields>Include_in_reconsultations__c</queriedFields>
        <queriedFields>Default_Consultation_Days__c</queriedFields>
        <queriedFields>arcusbuiltenv__Start_Date__c</queriedFields>
        <queriedFields>arcusbuiltenv__Preferred_Method_of_Contact_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Preferred_Method_of_Contact__c</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <queriedFields>arcusbuiltenv__Liability__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <startElementReference>FindAppeal</startElementReference>
    <status>Active</status>
    <variables>
        <description>Stores the full detail of the parent appeal</description>
        <name>AppealRecordDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Appeal__c</objectType>
    </variables>
    <variables>
        <name>CurrentAppealParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <description>The Enforcement party record currently being worked on</description>
        <name>CurrentEnfParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <name>CurrentPlanningParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <description>Holds the found related party records related to the appealed enforcement</description>
        <name>EnforcementParties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <description>Holds the Id of the Appeal record that fired the flow</description>
        <name>ParentAppealId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Holds the planning appeal parties that need to be written to the database</description>
        <name>PlanningAppealPartiesToWrite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <description>A collection of enforcement parties that need to be written</description>
        <name>PlanningEnfPartiesToWrite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <description>Stores all the Planning Parties that have been found</description>
        <name>PlanningParties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
</Flow>
