flows/Create_Consultation_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Pus the deadline date of custom length consultations in to the date calc loop at the end</description>
        <name>Add_custom_date</name>
        <label>Add custom date</label>
        <locationX>2262</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>DeadlineDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Workoutthedeadlinedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_the_prepared_consultation_in_to_the_list_of_stuff_to_write</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_custom_date_non_stat</name>
        <label>Add custom date non stat</label>
        <locationX>2289</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>DeadlineDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Workoutthedeadlinedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_the_prepared_consultation_in_to_the_list_of_stuff_to_write_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_dates</name>
        <label>Add dates</label>
        <locationX>338</locationX>
        <locationY>1429</locationY>
        <assignmentItems>
            <assignToReference>DeadlineDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Workoutthedeadlinedate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_prepped_consult_in_to_list_to_write</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_public_consultation</name>
        <label>Add the public consultation</label>
        <locationX>1586</locationX>
        <locationY>1098</locationY>
        <assignmentItems>
            <assignToReference>ConsultationstoWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentConsultation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Consultation_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_custom_Consultees</name>
        <label>Add to custom Consultees</label>
        <locationX>1011</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>CustomConsultees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentConsultee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_parties_to_review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_review</name>
        <label>Add to review</label>
        <locationX>809</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>PartiesToReview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CollectedNeighbours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindConsulteesONLY</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_deadline_date_to_planning_app</name>
        <label>Assign deadline date to planning app</label>
        <locationX>1681</locationX>
        <locationY>1302</locationY>
        <assignmentItems>
            <assignToReference>ParentPlanningApp.arcusbuiltenv__Consultation_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BiggestDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Planning_app_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Dates</name>
        <label>Collect Dates</label>
        <locationX>1555</locationX>
        <locationY>1206</locationY>
        <assignmentItems>
            <assignToReference>DeadlineDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NonStatDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeadlineDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PublicConsultationenddate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeadlineDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Statenddate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeadlineDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentPlanningApp.arcusbuiltenv__Press_Advert_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeadlineDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentPlanningApp.arcusbuiltenv__Site_Notice_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_biggest_deadlien_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_consultation_record</name>
        <label>Create a consultation record</label>
        <locationX>2574</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>CurrentConsultation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanningConsultationRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Planning_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentConsultee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_statutory_consultations_to_be_open_for</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Statenddate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultation_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hastheconsultationstarted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Statutory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_the_prepared_consultation_in_to_the_list_of_stuff_to_write</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_consultation_record_0</name>
        <label>Create the public consultation</label>
        <locationX>1410</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>CurrentConsultation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanningConsultationRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Planning_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open Public</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PublicConsultationenddate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_Public_Consultation_to_be_open_for</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultation_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hastheconsultationstarted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_public_consultation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_consultation_record_1</name>
        <label>Create a consultation record</label>
        <locationX>2727</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>CurrentConsultation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanningConsultationRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Planning_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentConsultee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_non_statutory_consultations_to_be_open_for</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NonStatDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultation_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hastheconsultationstarted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Statutory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_the_prepared_consultation_in_to_the_list_of_stuff_to_write_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates the non statutory consultation records where the number of days it is to be open for has been defined</description>
        <name>Create_a_Consultation_Record_nonstat</name>
        <label>Create a Consultation Record</label>
        <locationX>2153</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>CurrentConsultation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanningConsultationRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Planning_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentConsultee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentConsultee.Default_Consultation_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Deadline__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentConsultee.Default_Consultation_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultation_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hastheconsultationstarted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Statutory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_custom_date_non_stat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>creates a consultation record to be open for a non standard amount of days</description>
        <name>Create_a_custom_consultation_record</name>
        <label>Create a custom consultation record</label>
        <locationX>2120</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>CurrentConsultation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanningConsultationRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Planning_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentConsultee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentConsultee.Default_Consultation_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Deadline__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentConsultee.Default_Consultation_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultation_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hastheconsultationstarted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Statutory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_custom_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Consultation</name>
        <label>Create Consultation</label>
        <locationX>180</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_statutory_consultations_to_be_open_for</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanningConsultationRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentConsultee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultation_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hastheconsultationstarted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconsultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Planning_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Statenddate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Custom_Date_Consultation</name>
        <label>Custom Date Consultation</label>
        <locationX>602</locationX>
        <locationY>1232</locationY>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentConsultee.Default_Consultation_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlanningConsultationRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentConsultee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Planning_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Consultation_Deadline__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentConsultee.Default_Consultation_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.Consultation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultation_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hastheconsultationstarted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentConsultation.arcusbuiltenv__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconsultation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Put_prepped_consult_in_to_list_to_write</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterate_Last_Checked</name>
        <label>Iterate Last Checked</label>
        <locationX>2046</locationX>
        <locationY>1242</locationY>
        <assignmentItems>
            <assignToReference>LastDateChecked</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDeadlineDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_biggest_deadlien_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_prepped_consult_in_to_list_to_write</name>
        <label>Put prepped consult in to list to write</label>
        <locationX>906</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>ConsultationstoWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentConsultation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_custom_consultees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_the_prepared_consultation_in_to_the_list_of_stuff_to_write</name>
        <label>Put  the prepared consultation in to the list of stuff to write</label>
        <locationX>2119</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>ConsultationstoWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentConsultation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_consultees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Put_the_prepared_consultation_in_to_the_list_of_stuff_to_write_1</name>
        <label>Put  the prepared consultation in to the list of stuff to write</label>
        <locationX>2147</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>ConsultationstoWrite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentConsultation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_consultees_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_biggest_date</name>
        <label>Save biggest date</label>
        <locationX>2427</locationX>
        <locationY>1145</locationY>
        <assignmentItems>
            <assignToReference>BiggestDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDeadlineDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Last_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_chosen_dates_back_to_the_parent_planning_app</name>
        <label>Set chosen dates back to the parent planning app</label>
        <locationX>1493</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>ParentPlanningApp.Non_Statutory_Max_decision_days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_non_statutory_consultations_to_be_open_for</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentPlanningApp.arcusbuiltenv__Max_Decision_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_statutory_consultations_to_be_open_for</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentPlanningApp.Consultation_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultation_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentPlanningApp.Open_For_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpentoPublic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentPlanningApp.arcusbuiltenv__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under Consultation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_and_store_the_Planning_Application_record_type_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ToReview</name>
        <label>ToReview</label>
        <locationX>777</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>PartiesToReview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomConsultees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartiesToReview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>customnonstat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_parties_to_review</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlreadySet</name>
        <choiceText>I have already selected everyone I want to reconsult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>alreadyset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neighbours</name>
        <choiceText>I need to review everyone including Neighbours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neighbour</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Review</name>
        <choiceText>I need to review all consultees and decide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>consultee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Date</name>
        <label>Check Date</label>
        <locationX>2005</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>Iterate_Last_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_it_bigger_than_the_last_one_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDeadlineDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LastDateChecked</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_biggest_date</targetReference>
            </connector>
            <label>Is it bigger than the last one checked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the consultee has a value in default days</description>
        <name>Do_we_have_a_default_days</name>
        <label>Do we have a default days</label>
        <locationX>2107</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>Create_a_custom_consultation_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Days is not blank</defaultConnectorLabel>
        <rules>
            <name>Is_default_days_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentConsultee.Default_Consultation_Days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_consultation_record</targetReference>
            </connector>
            <label>Default Days is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is default consultation days field populated for non stat consultee records</description>
        <name>Do_we_have_a_default_days_nonstat</name>
        <label>Do we have a default days</label>
        <locationX>2143</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>Create_a_Consultation_Record_nonstat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default days is not blank</defaultConnectorLabel>
        <rules>
            <name>Default_Days_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentConsultee.Default_Consultation_Days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_consultation_record_1</targetReference>
            </connector>
            <label>Default Days is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_default_days</name>
        <label>Do we have default days</label>
        <locationX>397</locationX>
        <locationY>1132</locationY>
        <defaultConnector>
            <targetReference>Custom_Date_Consultation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Days is not blank</defaultConnectorLabel>
        <rules>
            <name>Default_days_is_blank2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentConsultee.Default_Consultation_Days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Consultation</targetReference>
            </connector>
            <label>Default days is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include</name>
        <label>Include</label>
        <locationX>1208</locationX>
        <locationY>775</locationY>
        <defaultConnector>
            <targetReference>Loop_through_parties_to_review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Include2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>include22</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_custom_Consultees</targetReference>
            </connector>
            <label>Include</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_custom_consultation</name>
        <label>Is this a custom consultation</label>
        <locationX>1667</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>Find_Stat_Consultees_related_to_parent_planning_app</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCustom</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_do_you_want_to_consult</targetReference>
            </connector>
            <label>Custom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_did_they_want_consult</name>
        <label>Who did they want consult</label>
        <locationX>793</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>FindCustomConsultees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Set</defaultConnectorLabel>
        <rules>
            <name>All_inc_Neighbours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WHO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Neighbours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_inc_Neighbours</targetReference>
            </connector>
            <label>All inc Neighbours</label>
        </rules>
        <rules>
            <name>ReviewConsultees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WHO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Review</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindConsulteesONLY</targetReference>
            </connector>
            <label>ReviewConsultees</label>
        </rules>
    </decisions>
    <description>Creates the consultation records for a planning application</description>
    <formulas>
        <description>Checks if the consultation start date is larger than today. If no the consultation has already started</description>
        <name>Hastheconsultationstarted</name>
        <dataType>String</dataType>
        <expression>IF ({!Consultation_Start_Date}&gt; TODAY(), &quot;Not Started&quot;, &quot;In Progress&quot;)</expression>
    </formulas>
    <formulas>
        <description>The end date for non stat consultations</description>
        <name>NonStatDate</name>
        <dataType>Date</dataType>
        <expression>{!Consultation_Start_Date} + {!Days_non_statutory_consultations_to_be_open_for}</expression>
    </formulas>
    <formulas>
        <description>stores the end date of the public consultation</description>
        <name>PublicConsultationenddate</name>
        <dataType>Date</dataType>
        <expression>{!Consultation_Start_Date}+{!Days_Public_Consultation_to_be_open_for}</expression>
    </formulas>
    <formulas>
        <description>the end date for statutory consultations</description>
        <name>Statenddate</name>
        <dataType>Date</dataType>
        <expression>{!Consultation_Start_Date}+{!Days_statutory_consultations_to_be_open_for}</expression>
    </formulas>
    <formulas>
        <name>Workoutthedeadlinedate</name>
        <dataType>Date</dataType>
        <expression>{!CurrentConsultation.arcusbuiltenv__Consultation_Deadline__c} + {!CurrentConsultee.Default_Consultation_Days__c}</expression>
    </formulas>
    <interviewLabel>Create Consultation Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Consultation Records</label>
    <loops>
        <name>Find_biggest_deadlien_date</name>
        <label>Find biggest deadlien date</label>
        <locationX>1742</locationX>
        <locationY>1149</locationY>
        <assignNextValueToReference>CurrentDeadlineDate</assignNextValueToReference>
        <collectionReference>DeadlineDates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_deadline_date_to_planning_app</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_consultees</name>
        <label>Loop through consultees</label>
        <locationX>1767</locationX>
        <locationY>399</locationY>
        <assignNextValueToReference>CurrentConsultee</assignNextValueToReference>
        <collectionReference>StatConsultees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_we_have_a_default_days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_non_Stat_Consultees_related_to_parent_planning_app_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_consultees_1</name>
        <label>Loop through consultees</label>
        <locationX>1755</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>CurrentConsultee</assignNextValueToReference>
        <collectionReference>NonStatConsultees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_we_have_a_default_days_nonstat</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_a_consultation_record_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_custom_consultees</name>
        <label>Loop through custom consultees</label>
        <locationX>575</locationX>
        <locationY>981</locationY>
        <assignNextValueToReference>CurrentConsultee</assignNextValueToReference>
        <collectionReference>CustomConsultees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_we_have_default_days</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_a_consultation_record_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_parties_to_review</name>
        <label>Loop through parties to review</label>
        <locationX>1164</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>CurrentConsultee</assignNextValueToReference>
        <collectionReference>PartiesToReview</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Consultee_Detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_custom_consultees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Consultation_records</name>
        <label>Create Consultation records</label>
        <locationX>1236</locationX>
        <locationY>1170</locationY>
        <connector>
            <targetReference>Collect_Dates</targetReference>
        </connector>
        <inputReference>ConsultationstoWrite</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_and_store_the_Planning_Application_record_type_id</name>
        <label>Find and store the planning consultation record type id</label>
        <locationX>1701</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_custom_consultation</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planning_Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcusbuiltenv__Consultation__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PlanningConsultationRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Non_Stat</name>
        <label>Find Non Stat</label>
        <locationX>660</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ToReview</targetReference>
        </connector>
        <filters>
            <field>arcusbuiltenv__Planning_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>arcusbuiltenv__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultee (Non Statutory)</stringValue>
            </value>
        </filters>
        <object>arcusbuiltenv__Related_Party__c</object>
        <outputReference>customnonstat</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Role__c</queriedFields>
        <queriedFields>arcusbuiltenv__Linked_Name__c</queriedFields>
        <queriedFields>Include_in_reconsultations__c</queriedFields>
        <queriedFields>Default_Consultation_Days__c</queriedFields>
        <queriedFields>arcusbuiltenv__Name_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Address_Override__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_non_Stat_Consultees_related_to_parent_planning_app_0</name>
        <label>Find non Stat Consultees related to parent planning app</label>
        <locationX>1493</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_consultees_1</targetReference>
        </connector>
        <filters>
            <field>arcusbuiltenv__Planning_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>arcusbuiltenv__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultee (Non Statutory)</stringValue>
            </value>
        </filters>
        <object>arcusbuiltenv__Related_Party__c</object>
        <outputReference>NonStatConsultees</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Role__c</queriedFields>
        <queriedFields>arcusbuiltenv__Linked_Name__c</queriedFields>
        <queriedFields>Default_Consultation_Days__c</queriedFields>
        <queriedFields>Include_in_reconsultations__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Stat_Consultees_related_to_parent_planning_app</name>
        <label>Find Stat Consultees related to parent planning app</label>
        <locationX>1764</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_consultees</targetReference>
        </connector>
        <filters>
            <field>arcusbuiltenv__Planning_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>arcusbuiltenv__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultee (Statutory)</stringValue>
            </value>
        </filters>
        <object>arcusbuiltenv__Related_Party__c</object>
        <outputReference>StatConsultees</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Role__c</queriedFields>
        <queriedFields>arcusbuiltenv__Linked_Name__c</queriedFields>
        <queriedFields>Default_Consultation_Days__c</queriedFields>
        <queriedFields>Include_in_reconsultations__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_the_parent</name>
        <label>Find the parent</label>
        <locationX>1134</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Consultation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>arcusbuiltenv__Planning_Application__c</object>
        <outputReference>ParentPlanningApp</outputReference>
        <queriedFields>Consultation_Start_Date__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Non_Statutory_Max_decision_days__c</queriedFields>
        <queriedFields>arcusbuiltenv__Max_Decision_Days__c</queriedFields>
        <queriedFields>arcusbuiltenv__Press_Advert_End_Date__c</queriedFields>
        <queriedFields>arcusbuiltenv__Site_Notice_End_Date__c</queriedFields>
        <queriedFields>arcusbuiltenv__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindConsulteesONLY</name>
        <label>FindConsulteesONLY</label>
        <locationX>668</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Non_Stat</targetReference>
        </connector>
        <filters>
            <field>arcusbuiltenv__Planning_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>arcusbuiltenv__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultee (Statutory)</stringValue>
            </value>
        </filters>
        <object>arcusbuiltenv__Related_Party__c</object>
        <outputReference>CustomConsultees</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Role__c</queriedFields>
        <queriedFields>arcusbuiltenv__Linked_Name__c</queriedFields>
        <queriedFields>Include_in_reconsultations__c</queriedFields>
        <queriedFields>Default_Consultation_Days__c</queriedFields>
        <queriedFields>arcusbuiltenv__Name_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Address_Override__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindCustomConsultees</name>
        <label>FindCustomConsultees</label>
        <locationX>476</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_custom_consultees</targetReference>
        </connector>
        <filters>
            <field>Include_in_reconsultations__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>arcusbuiltenv__Planning_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </filters>
        <object>arcusbuiltenv__Related_Party__c</object>
        <outputReference>CustomConsultees</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Role__c</queriedFields>
        <queriedFields>arcusbuiltenv__Linked_Name__c</queriedFields>
        <queriedFields>Default_Consultation_Days__c</queriedFields>
        <queriedFields>Include_in_reconsultations__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_inc_Neighbours</name>
        <label>Get all inc Neighbours</label>
        <locationX>955</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_review</targetReference>
        </connector>
        <filters>
            <field>arcusbuiltenv__Planning_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentPlanningApp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>arcusbuiltenv__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Neighbour</stringValue>
            </value>
        </filters>
        <object>arcusbuiltenv__Related_Party__c</object>
        <outputReference>CollectedNeighbours</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Role__c</queriedFields>
        <queriedFields>arcusbuiltenv__Name_Override__c</queriedFields>
        <queriedFields>arcusbuiltenv__Address_Override__c</queriedFields>
        <queriedFields>Include_in_reconsultations__c</queriedFields>
        <queriedFields>arcusbuiltenv__Linked_Name__c</queriedFields>
        <queriedFields>Default_Consultation_Days__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Planning_app_dates</name>
        <label>Update Parent Planning app dates</label>
        <locationX>1465</locationX>
        <locationY>1313</locationY>
        <connector>
            <targetReference>Success_End</targetReference>
        </connector>
        <inputReference>ParentPlanningApp</inputReference>
    </recordUpdates>
    <screens>
        <name>Consultee_Detail</name>
        <label>Consultee Detail</label>
        <locationX>1450</locationX>
        <locationY>656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Include</targetReference>
        </connector>
        <fields>
            <name>include22</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include in Reconsultation?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Role</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentConsultee.arcusbuiltenv__Role__c</elementReference>
            </defaultValue>
            <fieldText>Role</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentConsultee.arcusbuiltenv__Linked_Name__c</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NumberofDays</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentConsultee.Default_Consultation_Days__c</elementReference>
            </defaultValue>
            <fieldText>How long to consult for</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Override_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentConsultee.arcusbuiltenv__Name_Override__c</elementReference>
            </defaultValue>
            <fieldText>Override Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Consultation</name>
        <label>Start Consultation</label>
        <locationX>1330</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_chosen_dates_back_to_the_parent_planning_app</targetReference>
        </connector>
        <fields>
            <name>Custom_Consultation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Consultation Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Custom Consultation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Standard Consultation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>IsCustom</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Space3</name>
            <fieldText>&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info</name>
            <fieldText>Set the date the consultation is to start</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consultation_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Consultation Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You must start the consultation today&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Consultation_Start_Date} = {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space</name>
            <fieldText>&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>days</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The number of days for the consultation to be open for will be set based on the defaulkt number of days for auto added consultees, or where no default number of days is set, it will be set to the values below&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Days_statutory_consultations_to_be_open_for</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>21.0</numberValue>
            </defaultValue>
            <fieldText>Days statutory consultations to be open for</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Days_non_statutory_consultations_to_be_open_for</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>21.0</numberValue>
            </defaultValue>
            <fieldText>Days non statutory consultations to be open for</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Space2</name>
            <fieldText>&lt;BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Public</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Public Register Comments Allowed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Days_Public_Consultation_to_be_open_for</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>21.0</numberValue>
            </defaultValue>
            <fieldText>Days Public Consultation to be open for</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_End</name>
        <label>Success</label>
        <locationX>1220</locationX>
        <locationY>1315</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>Consultations created successfully.
Your consultation end date has been updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Who_do_you_want_to_consult</name>
        <label>Who do you want to consult?</label>
        <locationX>1055</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Who_did_they_want_consult</targetReference>
        </connector>
        <fields>
            <name>ReconsultationTypeDescriptiveText</name>
            <fieldText>Chose which type of reconsultation you want to do.

It is recommended to use the Set Re consultations button on the Related Party list to pre mark who should be included as it is much quicker. 

Any other available methods will be listed here. There may not be any, this depends on your system configuration.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WHO</name>
            <choiceReferences>AlreadySet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AlreadySet</defaultSelectedChoiceReference>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_the_parent</startElementReference>
    <status>Active</status>
    <variables>
        <name>BiggestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectedNeighbours</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <description>Stores the completed consultation records ready to be written back</description>
        <name>ConsultationstoWrite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Consultation__c</objectType>
    </variables>
    <variables>
        <description>stores the details of the consultatiuon record currently being built</description>
        <name>CurrentConsultation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Consultation__c</objectType>
    </variables>
    <variables>
        <description>Stores the detail of the consultee the loop is currently working on</description>
        <name>CurrentConsultee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <name>CurrentDeadlineDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomConsultees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <name>customnonstat</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <description>Holds all the deadline dates</description>
        <name>DeadlineDates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsCustom</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LastDateChecked</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2000-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>LastDateTested</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2000-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <description>Stores the list of non statutory consultees linked to the planning app</description>
        <name>NonStatConsultees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <name>OpentoPublic</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>sobject variable to hold the planning app that fired the process</description>
        <name>ParentPlanningApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>arcusbuiltenv__Planning_Application__c</objectType>
    </variables>
    <variables>
        <name>PartiesToReview</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
    <variables>
        <description>Holds the Id of the planning consultation record type for use when creating the consultation records</description>
        <name>PlanningConsultationRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Takes in the Id of the planning app that fired the flow. This is passed in by the button</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the list of statutory consultees linked to the planning app</description>
        <name>StatConsultees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Related_Party__c</objectType>
    </variables>
</Flow>
