flows/DSHLC_Fault_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FaultEmailNotification</name>
        <label>LC DSH FaultEmailNotification</label>
        <locationX>751</locationX>
        <locationY>203</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>scError</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce Flow Error - Org ID:{!vaOrgId} - Org Name:{!vaOrgName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>vaFlowFaultEmailRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>vaOrgWideEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>DSH FaultFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fault Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>rlArcusDSHConfigSettingFaultEmail</name>
        <label>rlArcusDSHConfigSettingFaultEmail</label>
        <locationX>577</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FaultEmailNotification</targetReference>
        </connector>
        <filters>
            <field>arcshared__Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSH_COUNCIL_CUSTOMER_SERVICE_EMAIL</stringValue>
            </value>
        </filters>
        <object>arcshared__App_Config__c</object>
        <outputAssignments>
            <assignToReference>vaFlowFaultEmailRecipient</assignToReference>
            <field>arcshared__Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlArcusDSHConfigSettingOrgWideEmail</name>
        <label>rlArcusDSHConfigSettingOrgEmail</label>
        <locationX>385</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rlArcusDSHConfigSettingFaultEmail</targetReference>
        </connector>
        <filters>
            <field>arcshared__Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSH_COUNCIL_CUSTOMER_SERVICE_EMAIL</stringValue>
            </value>
        </filters>
        <object>arcshared__App_Config__c</object>
        <outputAssignments>
            <assignToReference>vaOrgWideEmail</assignToReference>
            <field>arcshared__Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlOrgInfo</name>
        <label>rlOrgInfo</label>
        <locationX>201</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rlArcusDSHConfigSettingOrgWideEmail</targetReference>
        </connector>
        <object>Organization</object>
        <outputAssignments>
            <assignToReference>vaOrgId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaOrgIsSandbox</assignToReference>
            <field>IsSandbox</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaOrgName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaOrgType</assignToReference>
            <field>OrganizationType</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>scError</name>
        <label>scError</label>
        <locationX>945</locationX>
        <locationY>202</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtError</name>
            <fieldText>An error occured. The system administrator has been notified.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>rlOrgInfo</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ttEmailBody</name>
        <text>Salesforce instance details

Org ID: {!vaOrgId}
Org Name: {!vaOrgName}
Org Type: {!vaOrgType}
Org is a Sandbox: {!vaOrgIsSandbox}

An error occured in the following flow: {!vaFlowName}
Location: {!vaFaultLocation}
Error message: 
{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <description>Which element in the flow caused the error</description>
        <name>vaFaultLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaFlowFaultEmailRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of the flow that caused the error</description>
        <name>vaFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaOrgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaOrgIsSandbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaOrgName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaOrgType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaOrgWideEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
