flows/DSHLC_Report_It_Flow_Template_Generic_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_get_recordType_decision</name>
        <label>Case_get_recordType_decision</label>
        <locationX>425</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_get_recordType_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_record_type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_get_current_record</targetReference>
            </connector>
            <label>Case_get_recordType_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision after getting the current contact</description>
        <name>Contact_get_current_record_decision</name>
        <label>Contact_get_current_record_decision</label>
        <locationX>625</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>TechnicalError_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_get_current_record_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralInfo_1</targetReference>
            </connector>
            <label>Contact_get_current_record_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility_1_decision</name>
        <label>Eligibility_1_decision</label>
        <locationX>988</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Eligibility_1_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_1_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_1_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eligibility_2</targetReference>
            </connector>
            <label>Eligibility_1_decision_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligibility_2_decision</name>
        <label>Eligibility_2_decision</label>
        <locationX>1359</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>Eligibility_2_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligibility_2_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_2_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting</targetReference>
            </connector>
            <label>Eligibility_2_decision_yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_decision</name>
        <label>Location_decision</label>
        <locationX>1999</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Location_describe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_decision_map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>map</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_map</targetReference>
            </connector>
            <label>Location_decision_map</label>
        </rules>
        <rules>
            <name>Location_decision_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_address</targetReference>
            </connector>
            <label>Location_decision_address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reporting_decision</name>
        <label>Reporting_decision</label>
        <locationX>1770</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reporting_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_who_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reporting_contact</targetReference>
            </connector>
            <label>Reporting_decision_yes</label>
        </rules>
        <rules>
            <name>Reporting_decision_dontknow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reporting_who_question_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dont know</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location</targetReference>
            </connector>
            <label>Reporting_decision_dontknow</label>
        </rules>
    </decisions>
    <description>Template Report It DSH form that maps to case</description>
    <interviewLabel>DSHLC Report It Flow Template Generic Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>DSHLC Report It Flow Template Generic Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Case_creation</name>
        <label>Case_creation</label>
        <locationX>1461</locationX>
        <locationY>843</locationY>
        <assignRecordIdToReference>newCase_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Details_evidence</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>currentContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_record_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Report It template</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Case_get_record</name>
        <label>Case_get_record</label>
        <locationX>1186</locationX>
        <locationY>593</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>TechnicalError_5</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCase_Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>newCase_CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Case_get_recordType</name>
        <label>Case_get_recordType</label>
        <locationX>433</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_get_recordType_decision</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Case_record_type</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Case_update</name>
        <label>Case_update</label>
        <locationX>1186</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Case_get_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>TechnicalError_4</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCase_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Reportit_template_caseValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcshared__Coordinates__Latitude__s</field>
            <value>
                <elementReference>Location_map_mapInput_NumberValue_Lat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcshared__Coordinates__Longitude__s</field>
            <value>
                <elementReference>Location_map_mapInput_NumberValue_Long</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcshared__Occurrence_Date__c</field>
            <value>
                <elementReference>Details_date_dateInput_dateValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Details_concerns</name>
        <label>Details_concerns</label>
        <locationX>1633</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_creation</targetReference>
        </connector>
        <fields>
            <name>Details_concerns_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_concerns_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_conerns_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;There will be times where the user will need to choose multiple options from a list of possible responses. The clearest way to deal with this is using a checkbox group. All of the options are laid out in front of them and can be read in a glance.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_concerns_checkboxInput</name>
            <extensionName>c:DSHLC_FlowCheckbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What sort of disrepair is causing concern?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_concerns_checkboxInput_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>Details_concerns_checkboxOptions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_concerns_checkboxInput_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_concerns_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_date</name>
        <label>Details_date</label>
        <locationX>2007</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_describe</targetReference>
        </connector>
        <fields>
            <name>Details_date_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_date_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_date_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;There will be situations where the date (and/or time) of an incident will be clear (e.g. reporting a food hygiene problem that you saw when you went to a restaurant on Saturday night). &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;But they will also be times where the date will be not so clear. In these scenarios the language used in the label/help text will need to reassure the user that you are not necessarily expecting the date given to be the date the problem first occurred.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_date_dateInput</name>
            <extensionName>c:DSHLC_FlowDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Date of the incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Details_date_dateInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please tell us the date of the incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>This should be the date you first noticed the incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateValue</name>
                <value>
                    <elementReference>Details_date_dateInput_dateValue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_date_dateInput_dateValue</assignToReference>
                <name>dateValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_date_timeInput</name>
            <extensionName>c:DSHLC_FlowTime</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Time of the incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_date_timeInput_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Details_date_timeInput</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>This can be an estimation if you are unsure</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_date_timeInput_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_date_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_describe</name>
        <label>Details_describe</label>
        <locationX>1818</locationX>
        <locationY>983</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_concerns</targetReference>
        </connector>
        <fields>
            <name>Details_describe_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_describe_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_describe_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Simply giving the user a little time and space to tell you about the problem is a friendlier approach than hitting them with a list of specific questions. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;It will also often yield the best results where the report is largely anecdotal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_describe_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Details of the incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Details_describe_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please tell us any details you remember of the incident.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Any information that you think is relevant. For example was there an attack or any threat of an attack.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Details_describe_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Details_describe_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Details_evidence</name>
        <label>Details_evidence</label>
        <locationX>1341</locationX>
        <locationY>975</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FurtherDetails</targetReference>
        </connector>
        <fields>
            <name>Details_evidence_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_evidence_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_evidence_text</name>
            <fieldText>&lt;p&gt;If you ask a user to provide evidence via file upload then you will need to provide enough clear guidance for the less technical/experienced user.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is a good place to explain what type of evidence you would like (give different types and options), explain in simple terms how they could get files from their digital camera or mobile and possibly include details of how they can scan documents (with a computer or mobile).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;More in-depth guidance could be handled via a link to a CMS page. This would stop the page being overloaded with information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_evidence_uploadInput</name>
            <extensionName>c:DSHLC_FlowFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>customRecordId</name>
                <value>
                    <elementReference>newCase_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Evidence of the issue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>For example a photo of the incident or a scan of the receipt of the meal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Details_evidence_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_1</name>
        <label>Eligibility_1</label>
        <locationX>833</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eligibility_1_decision</targetReference>
        </connector>
        <fields>
            <name>Eligibility_1_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Eligibility</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;This section is where questions that could block a user are shown. Adding this blocker questions&amp;nbsp; right at the beginning of the form will reduce the frustration of a user putting in time/effort only be told they can go no further and have wasted their time/effort.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Blocker questions can cover different types of barrier. They can be legal (like the question here) or they can be related to the process (e.g. unless you have this piece of information the result of the form will be useless to us).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_1_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Are you over 18 years old?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Eligibility_1_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Legal restrictions mean only people over 18 can use this service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Eligibility_1_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Eligibility_1_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_1_response</name>
        <label>Eligibility_1_response</label>
        <locationX>995</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Eligibility_1_response_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_response_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Eligibility</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_response_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>caution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Sorry, you are not able to complete this form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>To complete this form and make a complaint you must be over 18 years of age.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_1_response_text</name>
            <fieldText>&lt;p&gt;If you still wish to go ahead with this complaint you will need to ask a local resident &lt;b&gt;over the age of 18&lt;/b&gt; to complete the form in your name. This will have no effect on the out come of the complaint.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://&quot; target=&quot;_blank&quot;&gt;Find out more about the council&apos;s legal position on handling complaints from under age residents.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://&quot; target=&quot;_blank&quot;&gt;Return to council services&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_1_response_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_2</name>
        <label>Eligibility_2</label>
        <locationX>1218</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eligibility_2_decision</targetReference>
        </connector>
        <fields>
            <name>Eligibility_2_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Eligibility</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;This is an example of a process specific question. It relates more to if the collected data is relevant rather than a legal barrier.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_2_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you have any evidence?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Eligibility_2_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>For example, the object, the food item or photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Eligibility_2_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Eligibility_2_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Eligibility_2_response</name>
        <label>Eligibility_2_response</label>
        <locationX>1368</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Eligibility_2_response_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_response_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Eligibility</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Eligibility_2_response_text</name>
            <fieldText>&lt;p&gt;If you still wish to go ahead with this complaint you will need to collect some form of evidence. This could be written information from other people affected by the problem.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http:&quot; target=&quot;_blank&quot;&gt;Find out more about how the council deals with food and hygiene complaints&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http:&quot; target=&quot;_blank&quot;&gt;Return to council services&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_2_response_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FurtherDetails</name>
        <label>FurtherDetails</label>
        <locationX>1186</locationX>
        <locationY>975</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_update</targetReference>
        </connector>
        <fields>
            <name>FurtherDetails_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FurtherDetails_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Further details</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FurtherDetails_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>FurtherDetails_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Provide any further information on the incident, location or any other information that might be relevant</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FurtherDetails_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FurtherDetails_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt; background-color: transparent;&quot;&gt;The final page of the form is the perfect place to ask the user if they have any extra comments or information they want to add before finishing.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt; background-color: transparent;&quot;&gt;Although the most important information should have been collected already it never hurts to give the user a place to note down general comments about the process or any extra information that they didn&apos;t think fitted in with previous questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt; background-color: transparent;&quot;&gt;This page can also be used to tell the user about what happens next (e.g. an officer will be in contact if the investigation requires more details).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FurtherDetails_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GeneralInfo_1</name>
        <label>GeneralInfo</label>
        <locationX>634</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Eligibility_1</targetReference>
        </connector>
        <fields>
            <name>GeneralInfo_1_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GeneralInfo_1_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>General information</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GeneralInfo_1_infoText</name>
            <fieldText>&lt;p&gt;This text should cover any &lt;b&gt;relevant information the user may need &lt;/b&gt;to successfully complete the form.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You should include &lt;b&gt;any documents or details&lt;/b&gt; (e.g. reference numbers) that the user will not necessarily have to hand (so they don&apos;t have to abandon the form half way through) or any optional materials they may need to prepare (e.g. photos).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can also use this page to cover any relevant &lt;b&gt;legal information&lt;/b&gt; (e.g. when reporting a dangerous dog you may want to summarize dog breeds that are currently illegal to own).&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://&quot; target=&quot;_blank&quot;&gt;Any in-depth information can be dealt with away from the page via a link.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Giving the user a clear idea of what to expect from the form itself can also help to &lt;b&gt;give them confidence&lt;/b&gt; that it holds no hidden fears/challenges (e.g. pre-warning users that they may need to provide a map location) as well in the process itself by telling them &lt;b&gt;what will happen after&lt;/b&gt; they&apos;ve finished (e.g. once completed the complaint will be dealt with by an officer within 14 days).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeneralInfo_1_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location</name>
        <label>Location</label>
        <locationX>2007</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Location_decision</targetReference>
        </connector>
        <fields>
            <name>Location_question_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_question_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_question_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;It&apos;s always a good idea to give the user as many different ways as possible to give you, what can be quite vague, information. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;The idea of asking a user for the postcode of a motorway underpass so they can report graffiti won&apos;t result in many completed forms.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How would you like to tell us about the location?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>Location_question_options</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_question_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_address</name>
        <label>Location_address</label>
        <locationX>2007</locationX>
        <locationY>713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_address_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_address_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_address_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Allowing the user to enter part or all of an address is vital when they are reporting a problem in a vague location (e.g. dog fouling on the street outside a house with a number would be a partial address but still helpful).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_address_input</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Address of the location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_address_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Location_address_input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>This doesn&apos;t have to be the full address, for example the street name or postcode.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_address_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_address_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_describe</name>
        <label>Location_describe</label>
        <locationX>2229</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_describe_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_describe_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_describe_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Giving the user space to give you as much information as they can is often the best way to collect vague information. And in many report it scenarios that is all they will have to offer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;The resulting information can still be very useful to the person who ultimately has to fix the problem.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_describe_input</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_describe_input_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Describe the location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Try to include details such as street names, landmarks, near-by shops</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please describe the location.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_describe_input_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_describe_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Location_map</name>
        <label>Location_map</label>
        <locationX>1801</locationX>
        <locationY>620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details_date</targetReference>
        </connector>
        <fields>
            <name>Location_map_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_map_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Location</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_map_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Choosing a point on a map isn&apos;t always enough. So giving the user somewhere to add extra information alongside it (e.g. the point on the map says where they first saw the stray dog but they saw it all over the park on the way home).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_map_mapInput</name>
            <extensionName>c:DSHLC_FlowMap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMarkerPlacement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Find the location of the incident on the map</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>markerLatitudeDecimal</name>
                <value>
                    <elementReference>Location_map_mapInput_NumberValue_Lat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>markerLongitudeDecimal</name>
                <value>
                    <elementReference>Location_map_mapInput_NumberValue_Long</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_map_mapInput_NumberValue_Lat</assignToReference>
                <name>markerLatitudeDecimal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Location_map_mapInput_NumberValue_Long</assignToReference>
                <name>markerLongitudeDecimal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_map_extraInfo</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Further information about the location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Location_map_extraInfo_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Include any relevant details, for example when the incident took place in more than one place</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Location_map_extraInfo_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Location_map_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reporting</name>
        <label>Reporting</label>
        <locationX>1618</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reporting_decision</targetReference>
        </connector>
        <fields>
            <name>Reporting_who_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_who_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Who is reporting</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_who_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;This section acts as a confirmation of who should be the point of contact (if one is needed) for any feedback or extra necessary information. If the user chooses No then it is fair to say that the logged in user is the person to contact.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;If they state that they are reporting it on someone else&apos;s behalf then the collected details could be used to create a new record on the system (or simply saved as reference).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;This example includes the option &quot;Don&apos;t know&quot; which may seem strange, but we should never underestimate the paralysing effect of the user not being 100% sure what they should do. Don&apos;t know gives them a safe way to move forward. Technically the result is often the same as answering no but that won&apos;t matter to the user.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reporting_who_question</name>
            <extensionName>c:DSHLC_FlowRadio</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this report being made on someone else&apos;s behalf?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_who_question_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>radioOptions_yes_no_dontknow</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_who_question_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_who_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reporting_contact</name>
        <label>Reporting_contact</label>
        <locationX>1778</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Location</targetReference>
        </connector>
        <fields>
            <name>Reporting_contact_subtitle</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <elementReference>subtitle_text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleType</name>
                <value>
                    <stringValue>Subtitle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_contact_title</name>
            <extensionName>c:DSHLC_Title</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>Who is reporting</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reporting_contact_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;This is an example of collecting the other persons contact details for reference.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;The use of simpler inputs (one for name instead of a more precise first and last name and a general textarea for collecting all possible contact details instead of limiting individual inputs) gives the user more freedom and space to enter either more in-depth information or vague and incomplete information, both of which can be valuable but hard to tightly categorize into individual inputs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;The rule &apos;simpler is better&apos; very much applies to the creation of forms, presuming your aim is for the most number of people actually completing the form. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reporting_contact_name</name>
            <extensionName>c:DSHLC_FlowText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name of the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_contact_name_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Id</name>
                <value>
                    <stringValue>Reporting_contact_name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please enter the other person&apos;s name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_contact_name_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_contact_details</name>
            <extensionName>c:DSHLC_FlowTextarea</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact details of the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Reporting_contact_details_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Include any details you know, for example their email, mobile or address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageWhenValueMissing</name>
                <value>
                    <stringValue>Please enter any contact details you have for the other person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Reporting_contact_details_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Reporting_contact_nav</name>
            <extensionName>c:DSHLC_FlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_1</name>
        <label>TechnicalError_1</label>
        <locationX>180</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_1_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-001</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_2</name>
        <label>TechnicalError_2</label>
        <locationX>835</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_2_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-002</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_3</name>
        <label>TechnicalError_3</label>
        <locationX>1459</locationX>
        <locationY>652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_3_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something has gone wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-003</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_4</name>
        <label>TechnicalError_4</label>
        <locationX>965</locationX>
        <locationY>789</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_4_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-004</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TechnicalError_5</name>
        <label>TechnicalError_5</label>
        <locationX>965</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TechnicalError_5_message</name>
            <extensionName>c:DSHLC_PageMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageTitle</name>
                <value>
                    <stringValue>Something went wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageBody</name>
                <value>
                    <stringValue>&lt;p&gt;A problem has occured with {!subtitle_text} page.&lt;/p&gt; &lt;p&gt;Please try again later.&lt;/p&gt;&lt;br/&gt;&lt;br/&gt;Error code: DSHRep-005</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Case_get_recordType</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Get the Contact record associate with the current user if there is one, otherwise it would use the one specified by the flow input for the Contact record ID.</description>
        <name>Contact_get_current_record</name>
        <label>Contact_get_current_record</label>
        <locationX>434</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Contact_get_current_record_decision</targetReference>
        </connector>
        <flowName>DSHLC_Get_Contact</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currentContact</assignToReference>
            <name>contact</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Details_concerns_checkboxOptions</name>
        <text>[{&quot;label&quot;:&quot;Electric&quot;,&quot;value&quot;:&quot;electric&quot;},{&quot;label&quot;:&quot;Gas&quot;,&quot;value&quot;:&quot;gas&quot;},{&quot;label&quot;:&quot;Structural&quot;,&quot;value&quot;:&quot;structural&quot;},{&quot;label&quot;:&quot;Damp and Mould&quot;,&quot;value&quot;:&quot;damp mold&quot;},{&quot;label&quot;:&quot;Security&quot;,&quot;value&quot;:&quot;security&quot;},{&quot;label&quot;:&quot;Other&quot;,&quot;value&quot;:&quot;other&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>Location_question_options</name>
        <text>[{&quot;label&quot;:&quot;Using a map&quot;,&quot;value&quot;:&quot;map&quot;},{&quot;label&quot;:&quot;I know the address&quot;,&quot;value&quot;:&quot;address&quot;},{&quot;label&quot;:&quot;I can describe the location&quot;,&quot;value&quot;:&quot;describe&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <description>This is for easily adding the options Yes and No to a radio button group</description>
        <name>radioOptions_yes_no</name>
        <text>[{&quot;label&quot;: &quot;Yes&quot;, &quot;value&quot;:&quot;yes&quot;},{&quot;label&quot;: &quot;No&quot;, &quot;value&quot;:&quot;no&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>radioOptions_yes_no_dontknow</name>
        <text>[{&quot;label&quot;:&quot;Yes&quot;, &quot;value&quot;: &quot;yes&quot;},{&quot;label&quot;:&quot;No&quot;, &quot;value&quot;: &quot;no&quot;},{&quot;label&quot;:&quot;Don&apos;t know&quot;, &quot;value&quot;: &quot;dont know&quot;}]</text>
    </textTemplates>
    <textTemplates>
        <name>Reportit_template_caseValues</name>
        <text>Date of the incident:  
{!Details_date_dateInput_dateValue} ({!Details_date_timeInput_value}) 

Contact details of other person:
Name: {!Reporting_contact_name_value}
Contact details: {!Reporting_contact_details_value}

Description of the incident:
{!Details_describe_input_value}

Location of the incident:  
{!Location_address_input_value} 
{!Location_describe_input_value} 
Location - Map: 
Extra location information: {!Location_map_extraInfo_value}

Areas of concern: 
{!Details_concerns_checkboxInput_value}

Further details:  
{!FurtherDetails_input_value}</text>
    </textTemplates>
    <textTemplates>
        <description>Name of the form as shown in the page subtitle</description>
        <name>subtitle_text</name>
        <text>Report It form template</text>
    </textTemplates>
    <variables>
        <name>Case_record_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The particular Contact record ID to run the flow against if the current User does not have an associate Contact already.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>In CRM this is passed into flow, it holds the Id of the council service record that the flow was launched from.</description>
        <name>councilServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A record variable that represents the Contact record for whom the report is about, either the DSH contact or the contact the CRM user has selected.</description>
        <name>currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Details_concerns_checkboxInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_date_dateInput_dateValue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_date_dateInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_date_timeInput_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Details_describe_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Eligibility_1_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Eligibility_2_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FurtherDetails_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_address_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_describe_input_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_extraInfo_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_mapInput_NumberValue_Lat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Location_map_mapInput_NumberValue_Long</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>Location_map_mapInput_value_Lat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_map_mapInput_value_Long</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCase_CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newCase_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Reporting_contact_details_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_contact_name_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reporting_who_question_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
