flows/DSHLC_Email_Verification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConfigSettingsUtility</name>
        <label>ConfigSettingsUtility</label>
        <locationX>1369</locationX>
        <locationY>441</locationY>
        <actionName>DSHLC_ConfigSettingsFlowUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Code</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>CouncilCustomerServiceEmail</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>DSHLC_Business_Email_Update</name>
        <label>LC DSH Notification of Business Email Update</label>
        <locationX>1354</locationX>
        <locationY>50</locationY>
        <actionName>User.DSHLC_Business_Email_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ConfigSettingsUtility</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault10</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DSHLC_Business_Register</name>
        <label>Notification of Business Registration</label>
        <locationX>1369</locationX>
        <locationY>308</locationY>
        <actionName>User.DSHLC_Business_Register</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ConfigSettingsUtility</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault7</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DSHLC_Resident_Email_Update</name>
        <label>Notification of Resident Email Update</label>
        <locationX>1357</locationX>
        <locationY>138</locationY>
        <actionName>User.DSHLC_Resident_Email_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ConfigSettingsUtility</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault9</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>DSHLC_Resident_Register</name>
        <label>Notification of Resident Registration</label>
        <locationX>1363</locationX>
        <locationY>223</locationY>
        <actionName>User.DSHLC_Resident_Register</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ConfigSettingsUtility</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault8</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apexPluginCalls>
        <name>Generate_Random_Code</name>
        <label>Generate Random Code</label>
        <locationX>818</locationX>
        <locationY>242</locationY>
        <apexClass>DSHLC_Flow_CodeGenerator</apexClass>
        <connector>
            <targetReference>rcUserEmailVerificationCode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault5</targetReference>
        </faultConnector>
        <outputParameters>
            <assignToReference>code</assignToReference>
            <name>Code</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>UpdateContactEmail</name>
        <label>UpdateContactEmail</label>
        <locationX>1136</locationX>
        <locationY>943</locationY>
        <apexClass>DSHLC_Flow_UpdateContactFromUser</apexClass>
        <faultConnector>
            <targetReference>Fault13</targetReference>
        </faultConnector>
        <inputParameters>
            <name>UserID</name>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>asCodeErrorMsg</name>
        <label>asCodeErrorMsg</label>
        <locationX>1132</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>vaCodeErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Please enter a valid verification code above</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asErrorMsg</name>
        <label>asErrorMsg</label>
        <locationX>85</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>vaErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: You must accept the terms and conditions to continue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scTermsAndConditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asPrivacyErrorMsg</name>
        <label>asPrivacyErrorMsg</label>
        <locationX>868</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>vaPrivacyErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: You must accept the privacy policy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scPrivacyPolicy</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Code_Validation</name>
        <label>Code Validation</label>
        <locationX>1131</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>asCodeErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CodeInput</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deEmailSelfUpdated</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>deAcceptedPrivacyPolicy</name>
        <label>deAcceptedPrivacyPolicy</label>
        <locationX>971</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>asPrivacyErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>outPrivacyNotAccepted</defaultConnectorLabel>
        <rules>
            <name>outPrivacyAccepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcceptPrivacyCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruPrivacy</targetReference>
            </connector>
            <label>outPrivacyAccepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>deAcceptedTermsAndConditions</name>
        <label>deAcceptedTermsAndConditions</label>
        <locationX>320</locationX>
        <locationY>784</locationY>
        <defaultConnector>
            <targetReference>asErrorMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>outNotAccepted</defaultConnectorLabel>
        <rules>
            <name>outAcceptedTerms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcceptTerms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruUserTerms</targetReference>
            </connector>
            <label>outAcceptedTerms</label>
        </rules>
    </decisions>
    <decisions>
        <description>this will check whether the community type is resident</description>
        <name>deCommunityTypeCheck</name>
        <label>deCommunityTypeCheck</label>
        <locationX>1007</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Fault14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outEmailResidentSelfUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.arcshared__DSH_Email_Self_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactObject.arcshared__Community__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSHLC_Resident_Email_Update</targetReference>
            </connector>
            <label>outEmailResidentSelfUpdated</label>
        </rules>
        <rules>
            <name>outEmailBusinessSelfUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.arcshared__DSH_Email_Self_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactObject.arcshared__Community__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSHLC_Business_Email_Update</targetReference>
            </connector>
            <label>outEmailBusinessSelfUpdated</label>
        </rules>
        <rules>
            <name>outCommunityTypeResident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactObject.arcshared__Community__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSHLC_Resident_Register</targetReference>
            </connector>
            <label>outCommunityTypeResident</label>
        </rules>
        <rules>
            <name>outCommunityTypeBusiness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactObject.arcshared__Community__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSHLC_Business_Register</targetReference>
            </connector>
            <label>outCommunityTypeBusiness</label>
        </rules>
    </decisions>
    <decisions>
        <name>deEmailConfirmationCheck</name>
        <label>deEmailConfirmationCheck</label>
        <locationX>815</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outEmailNotConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.arcshared__DSH_Email_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Random_Code</targetReference>
            </connector>
            <label>outEmailNotConfirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>deEmailSelfUpdated</name>
        <label>deEmailSelfUpdated</label>
        <locationX>1133</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>ruUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outEmailSelfUpdatedComplete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DSHLC_Resident_Email_Update</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DSHLC_Business_Email_Update</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruUserEmailSelfUpdated</targetReference>
            </connector>
            <label>outEmailSelfUpdatedComplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>dePrivacyPolicyCheck</name>
        <label>dePrivacyPolicyCheck</label>
        <locationX>598</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>deEmailConfirmationCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outPrivacyNotConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.arcshared__DSH_Accepted_Privacy_Policy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlArcusDSHPrivacy</targetReference>
            </connector>
            <label>outPrivacyNotConfirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>deTermsandConditionsCheck</name>
        <label>deTermsandConditionsCheck</label>
        <locationX>211</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>dePrivacyPolicyCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>outTermsConfirmed</defaultConnectorLabel>
        <rules>
            <name>outTermsNotConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserObject.arcshared__DSH_Accepted_Terms_And_Conditions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlArcusDSHTsandCs</targetReference>
            </connector>
            <label>outTermsNotConfirmed</label>
        </rules>
    </decisions>
    <description>Added new variable retrieved from DSH ConfigSettings class for the Council Customer Service email. Added new text to verification page as per wireframe.</description>
    <interviewLabel>Email Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LC DSH Email Verification</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>flContact</name>
        <label>flContact</label>
        <locationX>215</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deTermsandConditionsCheck</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault2</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserObject.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactObject</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcshared__Community__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>220</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObject</outputReference>
        <queriedFields>Email</queriedFields>
        <queriedFields>arcshared__DSH_Email_Verified__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>arcshared__DSH_Accepted_Terms_And_Conditions__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>arcshared__DSH_Email_Self_Updated__c</queriedFields>
        <queriedFields>arcshared__DSH_Accepted_Privacy_Policy__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>rlArcusDSHPrivacy</name>
        <label>rlArcusDSHPrivacy</label>
        <locationX>786</locationX>
        <locationY>653</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scPrivacyPolicy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault15</targetReference>
        </faultConnector>
        <filters>
            <field>arcshared__Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSH_COUNCIL_PRIVACY_POLICY_URL</stringValue>
            </value>
        </filters>
        <object>arcshared__App_Config__c</object>
        <outputAssignments>
            <assignToReference>vaPrivacyURL</assignToReference>
            <field>arcshared__Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlArcusDSHTsandCs</name>
        <label>rlArcusDSHTsandCs</label>
        <locationX>206</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scTermsAndConditions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault3</targetReference>
        </faultConnector>
        <filters>
            <field>arcshared__Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DSH_COUNCIL_TERMS_AND_CONDITIONS_URL</stringValue>
            </value>
        </filters>
        <object>arcshared__App_Config__c</object>
        <outputAssignments>
            <assignToReference>vaURL</assignToReference>
            <field>arcshared__Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>rcUserEmailVerificationCode</name>
        <label>rcUserEmailVerificationCode</label>
        <locationX>819</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>deCommunityTypeCheck</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault6</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcshared__DSH_Email_Verification_Code__c</field>
            <value>
                <elementReference>code</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruPrivacy</name>
        <label>ruPrivacy</label>
        <locationX>972</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>deEmailConfirmationCheck</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault16</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcshared__DSH_Accepted_Privacy_Policy_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcshared__DSH_Accepted_Privacy_Policy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruUser</name>
        <label>ruUser</label>
        <locationX>1368</locationX>
        <locationY>710</locationY>
        <faultConnector>
            <targetReference>Fault12</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcshared__DSH_Email_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruUserEmailSelfUpdated</name>
        <label>ruUserEmailSelfUpdated</label>
        <locationX>1135</locationX>
        <locationY>819</locationY>
        <connector>
            <targetReference>UpdateContactEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault11</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcshared__DSH_Email_Self_Updated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcshared__DSH_Email_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruUserTerms</name>
        <label>ruUserTerms</label>
        <locationX>439</locationX>
        <locationY>627</locationY>
        <connector>
            <targetReference>dePrivacyPolicyCheck</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault4</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcshared__DSH_Accepted_Terms_And_Conditions_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arcshared__DSH_Accepted_Terms_And_Conditions__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Get_Code</name>
        <label>Get Code</label>
        <locationX>1374</locationX>
        <locationY>581</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Code_Validation</targetReference>
        </connector>
        <fields>
            <name>GetCodeTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Enter your verification code&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A verification code was sent via email to &lt;FONT KERNING=&quot;1&quot;&gt;{!UserObject.Email}&lt;/FONT&gt;. When you receive your verification code, enter it below.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CodeInput</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Space</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vaCodeErrorMsg}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>troubleTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Didn&amp;apos;t receive the email?&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>troubleMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sometimes automated messages get categorised as spam. Check your spam folder. If you have not received the email contact {!CouncilCustomerServiceEmail} for assistance.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>codeNotWorkingTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Verification code not working?&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>codeNotWorkingMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Leave this page open, check your email you may have received multiple registration emails, ensure you are using the verification code from the most recent email.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Note:&lt;/B&gt; if you refresh or revisit this page, a new verification code will be generated.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>needhelpTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Need Help?&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>needhelp</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you have any other questions or need further assistance please contact {!CouncilCustomerServiceEmail}&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scPrivacyPolicy</name>
        <label>scPrivacyPolicy</label>
        <locationX>729</locationX>
        <locationY>788</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>deAcceptedPrivacyPolicy</targetReference>
        </connector>
        <fields>
            <name>dtPrivacyTitle</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Privacy Policy&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtPrivacyBlank1</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtPrivacy1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To support upcoming changes in European data law, known as GDPR, we have introduced a &lt;FONT KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;{!vaPrivacyURL}&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;Privacy Policy&lt;/U&gt;&lt;/A&gt;&lt;/FONT&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtPrivacy2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Our new policies provide clear information on how we handle and protect your personal information. Your privacy comes first in all of these updates. We now meet the high standard for data privacy.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtPrivacyBlank3</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AcceptPrivacyCheck</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;I have read and understood the privacy policy&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dtPrivacyErrorMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;br/&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vaPrivacyErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scTermsAndConditions</name>
        <label>scTermsAndConditions</label>
        <locationX>198</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>deAcceptedTermsAndConditions</targetReference>
        </connector>
        <fields>
            <name>dtTitle</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Terms and conditions&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtBlank3</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtTerms1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;To continue you must agree to our &lt;A HREF=&quot;{!vaURL}&quot; TARGET=&quot;_blank&quot;&gt;&lt;U&gt;Terms and Conditions&lt;/U&gt;&lt;/A&gt;&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtspace1</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AcceptTerms</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;I accept the terms and conditions&lt;FONT FACE=&quot;_sans&quot; STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>dtspace2</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtErrorMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!vaErrorMsg}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_User_Info</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Fault1</name>
        <label>Fault1</label>
        <locationX>389</locationX>
        <locationY>46</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault1</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault10</name>
        <label>Fault10</label>
        <locationX>1548</locationX>
        <locationY>56</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault10</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault11</name>
        <label>Fault11</label>
        <locationX>1363</locationX>
        <locationY>817</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault11</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault12</name>
        <label>Fault12</label>
        <locationX>1558</locationX>
        <locationY>712</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault12</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault13</name>
        <label>Fault13</label>
        <locationX>1365</locationX>
        <locationY>950</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault13</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault14</name>
        <label>Fault14</label>
        <locationX>1160</locationX>
        <locationY>296</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>EmailVerification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault14</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault15</name>
        <label>Fault15</label>
        <locationX>605</locationX>
        <locationY>657</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault15</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault16</name>
        <label>Fault16</label>
        <locationX>973</locationX>
        <locationY>442</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault16</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault2</name>
        <label>Fault2</label>
        <locationX>403</locationX>
        <locationY>166</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault2</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault3</name>
        <label>Fault3</label>
        <locationX>38</locationX>
        <locationY>380</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault3</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault4</name>
        <label>Fault4</label>
        <locationX>541</locationX>
        <locationY>791</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault4</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault5</name>
        <label>Fault5</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault5</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault6</name>
        <label>Fault6</label>
        <locationX>530</locationX>
        <locationY>49</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault6</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault7</name>
        <label>Fault7</label>
        <locationX>1552</locationX>
        <locationY>309</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault7</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault8</name>
        <label>Fault8</label>
        <locationX>1553</locationX>
        <locationY>227</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault8</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Fault9</name>
        <label>Fault9</label>
        <locationX>1551</locationX>
        <locationY>142</locationY>
        <flowName>DSHLC_Fault_Flow</flowName>
        <inputAssignments>
            <name>vaFlowName</name>
            <value>
                <stringValue>Email Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaFaultLocation</name>
            <value>
                <stringValue>Fault9</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailAddressChangedByBusinessUser</name>
        <text>Dear {!UserObject.FirstName} {!UserObject.LastName}

You are receiving this email as you have requested that your email address for your online Business Account is changed.
 
In order to verify your new email address, please enter your code in the specified box.

{!code}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailAddressChangedByUser</name>
        <text>Dear {!UserObject.FirstName} {!UserObject.LastName}

You are receiving this email as you have requested that your email address for your Aylesbury Vale MyAccount is changed.
 
In order to verify your new email address, please enter your code in the specified box.

{!code}</text>
    </textTemplates>
    <textTemplates>
        <description>Text template used to notify a distribution list when a portal user changes their email address</description>
        <name>EmailAddressUpdate</name>
        <text>The following portal user has updated their email address -

First Name: {!ContactObject.FirstName}
Last Name: {!ContactObject.LastName}
New Email Address:{!UserObject.Email}

Their contact record in Salesforce can be viewed here -

https://login.salesforce.com/{!ContactObject.Id}</text>
    </textTemplates>
    <textTemplates>
        <description>Email sent after business registration  - contains code verification -</description>
        <name>EmailRegistrationBusiness</name>
        <text>Dear {!UserObject.FirstName} {!UserObject.LastName}

Thank you for registering for your online Business Account.
 
With online Business Account you can view your Business Rates online, set up a Direct Debit, apply for taxi licences and more.
 
You can also access instant support from our members of staff using our brand new online chat.
 
Wed love to hear your feedback on the online Business Account, you can let us know online, on email or over chat.

To complete the registration process, please enter your code in the specified box.
 
 
{!code}</text>
    </textTemplates>
    <textTemplates>
        <description>Email sent after resident registration  - contains code verification -</description>
        <name>EmailRegistrationResident</name>
        <text>Dear {!UserObject.FirstName} {!UserObject.LastName}

Thank you for registering for your Aylesbury Vale MyAccount.
 
With Aylesbury Vale MyAccount, you can view your council tax online, set up a Direct Debit, apply for a taxi licence, purchase a garden waste bin and much more.
 
You can also access instant support from our members of staff using our brand new online chat.
 
Wed love to hear your feedback on the Aylesbury Vale MyAccount, you can let us know online, on email or over chat.

To complete the registration process, please enter your code in the specified box.
 
 
{!code}</text>
    </textTemplates>
    <textTemplates>
        <description>Text template that includes values of all flow resources</description>
        <name>ttFaults</name>
        <text>Error: {!$Flow.FaultMessage}

RESOURCE VALUES

UserId: {!LoginFlow_UserId}
User Email: {!UserObject.Email}
User Contact Id: {!UserObject.ContactId}
User Email Verification: {!UserObject.arcshared__DSH_Email_Verified__c}
User Accepted Ts &amp; Cs: {!UserObject.arcshared__DSH_Accepted_Terms_And_Conditions__c}
User Email Self Updated: {!UserObject.arcshared__DSH_Email_Self_Updated__c}

Contact Email: {!ContactObject.Email}
Contact First Name: {!ContactObject.FirstName}
Contact Last Name: {!ContactObject.LastName}
Contact Community Type: {!ContactObject.arcshared__Community__c}</text>
    </textTemplates>
    <variables>
        <name>code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Council customer service email</description>
        <name>CouncilCustomerServiceEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>vaCodeErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vaPrivacyErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>DSH Privacy Policy URL</description>
        <name>vaPrivacyURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
