flows/DSHLC_Auto_Assign_Ward_Account_Actions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>deAccountWardSpecificMatching</name>
        <label>deAccountWardSpecificMatching</label>
        <locationX>810</locationX>
        <locationY>432</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outAccountWardSpecificMatchFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaAccountWardCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vaAccountWardCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlAccountWardSpecific</targetReference>
            </connector>
            <label>outAccountWardSpecificMatchFound</label>
        </rules>
        <rules>
            <name>outAccountWardSpecificMatchNotFound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vaAccountWardCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vaAccountWardCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlAccountNonLLPG</targetReference>
            </connector>
            <label>outAccountWardSpecificMatchNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>deWhichFlowAction</name>
        <label>deWhichFlowAction</label>
        <locationX>385</locationX>
        <locationY>57</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outAssignAccountResidentNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaFlowAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssignAccountResidentNew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlAccountResidentNew</targetReference>
            </connector>
            <label>outAssignAccountResidentNew</label>
        </rules>
        <rules>
            <name>outAssignAccountResidentNonLLPG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaFlowAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssignAccountResidentNonLLPG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlAccountNonLLPG</targetReference>
            </connector>
            <label>outAssignAccountResidentNonLLPG</label>
        </rules>
        <rules>
            <name>outAssignAccountWardSpecific</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaFlowAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AssignAccountWardSpecific</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rlLocationWardCode</targetReference>
            </connector>
            <label>outAssignAccountWardSpecific</label>
        </rules>
    </decisions>
    <description>This (Standard) Flow will auto-assign Contacts to the correct Ward Account.  Until now, this is only done at registration (or manually). It works in tandem with Auto Assign Ward Account Initiate (Process Builder Flow)</description>
    <interviewLabel>Flow: Auto Assign Ward Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LC DSH Auto Assign Ward Account Actions</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>rlAccountNonLLPG</name>
        <label>rlAccountNonLLPG</label>
        <locationX>1078</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ruAssignAccountNonLLPG</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resident - Non LLPG</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vaAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlAccountResidentNew</name>
        <label>rlAccountResidentNew</label>
        <locationX>1075</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ruAssignAccountResidentNew</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resident - New</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vaAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlAccountWardCode</name>
        <label>rlAccountWardCode</label>
        <locationX>563</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deAccountWardSpecificMatching</targetReference>
        </connector>
        <filters>
            <field>arcusgazetteer__Ward_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaLocationWardCode</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vaAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaAccountWardCode</assignToReference>
            <field>arcusgazetteer__Ward_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlAccountWardSpecific</name>
        <label>rlAccountWardSpecific</label>
        <locationX>1059</locationX>
        <locationY>628</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ruAssignAccountWardSpecific</targetReference>
        </connector>
        <filters>
            <field>arcusgazetteer__Ward_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaAccountWardCode</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vaAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlContact</name>
        <label>rlContact</label>
        <locationX>85</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deWhichFlowAction</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vaContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaLocationId</assignToReference>
            <field>arcusgazetteer__Mailing_Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>rlLocationWardCode</name>
        <label>rlLocationWardCode</label>
        <locationX>409</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rlAccountWardCode</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaLocationId</elementReference>
            </value>
        </filters>
        <object>arcusgazetteer__Location__c</object>
        <outputAssignments>
            <assignToReference>vaLocationWardCode</assignToReference>
            <field>arcusgazetteer__Ward_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ruAssignAccountNonLLPG</name>
        <label>ruAssignAccountNonLLPG</label>
        <locationX>1397</locationX>
        <locationY>262</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vaAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruAssignAccountResidentNew</name>
        <label>ruAssignAccountResidentNew</label>
        <locationX>1396</locationX>
        <locationY>61</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vaAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>ruAssignAccountWardSpecific</name>
        <label>ruAssignAccountWardSpecific</label>
        <locationX>1401</locationX>
        <locationY>634</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vaAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>rlContact</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>etDebugEmail</name>
        <text>Contact ID: {!vaContactId}
Flow Action: {!vaFlowAction}
Location: {!vaLocationId}
Location Ward Code: {!vaLocationWardCode}
Account Ward Code: {!vaAccountWardCode}</text>
    </textTemplates>
    <variables>
        <name>vaAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaAccountWardCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaFlowAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaLocationWardCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaMailingLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
