flows/DSHLC_Get_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assign the ID of the Contact record to fetch as the ContactId from the current User record</description>
        <name>Contact_id_assign_from_current_user</name>
        <label>Contact_id_assign_from_current_user</label>
        <locationX>470</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUser.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_get_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the Contact Id is given as a flow input</description>
        <name>Contact_id_flow_input_decision</name>
        <label>Contact_id_flow_input_decision</label>
        <locationX>789</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_id_flow_input_decision_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_get_record</targetReference>
            </connector>
            <label>Contact_id_flow_input_decision_not_null</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_get_record_decision</name>
        <label>User_get_record_decision</label>
        <locationX>462</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Contact_id_flow_input_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_get_record_decision_contactId_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentUser.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_id_assign_from_current_user</targetReference>
            </connector>
            <label>User_get_record_decision_contactId_not_null</label>
        </rules>
    </decisions>
    <description>Gets the current user Id then loads the current user contact. Then it checks if that user is a DSH Community User.</description>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>DSHLC Get Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DSHLC Get Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the Contact record</description>
        <name>Contact_get_record</name>
        <label>Contact_get_record</label>
        <locationX>797</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>User_get_record</name>
        <label>User_get_record</label>
        <locationX>248</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_get_record_decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>currentUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <startElementReference>User_get_record</startElementReference>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>The current Contact Id</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
