flows/FHDC_BE_Appeal_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>isChangedDecision11_myRule_10_Press_Advert_Start_Target_Date_c</name>
        <label>isChangedDecision11_myRule_10_Press_Advert_Start_Target_Date_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_11_myRule_10_Press_Advert_Start_Target_Date_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Press_Advert_Start_Target_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Press_Advert_Start_Target_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_11_myRule_10_Press_Advert_Start_Target_Date_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision2_myRule_1_Questionnaire_to_PINS_Target_Date_c</name>
        <label>isChangedDecision2_myRule_1_Questionnaire_to_PINS_Target_Date_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision5_myRule_4_Target_Statement_Sent_Date_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_2_myRule_1_Questionnaire_to_PINS_Target_Date_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Questionnaire_to_PINS_Target_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Questionnaire_to_PINS_Target_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision5_myRule_4_Target_Statement_Sent_Date_c</targetReference>
            </connector>
            <label>isChangedRule_2_myRule_1_Questionnaire_to_PINS_Target_Date_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision5_myRule_4_Target_Statement_Sent_Date_c</name>
        <label>isChangedDecision5_myRule_4_Target_Statement_Sent_Date_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision8_myRule_7_Notify_3rd_Parties_Target_Date_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_5_myRule_4_Target_Statement_Sent_Date_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Target_Statement_Sent_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Target_Statement_Sent_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision8_myRule_7_Notify_3rd_Parties_Target_Date_c</targetReference>
            </connector>
            <label>isChangedRule_5_myRule_4_Target_Statement_Sent_Date_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision8_myRule_7_Notify_3rd_Parties_Target_Date_c</name>
        <label>isChangedDecision8_myRule_7_Notify_3rd_Parties_Target_Date_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision11_myRule_10_Press_Advert_Start_Target_Date_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_8_myRule_7_Notify_3rd_Parties_Target_Date_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Notify_3rd_Parties_Target_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Notify_3rd_Parties_Target_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision11_myRule_10_Press_Advert_Start_Target_Date_c</targetReference>
            </connector>
            <label>isChangedRule_8_myRule_7_Notify_3rd_Parties_Target_Date_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_2_myRule_1_Questionnaire_to_PINS_Target_Date_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Questionnaire_to_PINS_Target_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Appeal_officer__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Is PINS target set</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Appeal_officer__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Target_Statement_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_5_myRule_4_Target_Statement_Sent_Date_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Is Statement target set</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Notify_3rd_Parties_Target_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_8_myRule_7_Notify_3rd_Parties_Target_Date_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Appeal_officer__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Notify 3rd parties target date set</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Press_Advert_Start_Target_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Date</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_11_myRule_10_Press_Advert_Start_Target_Date_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Appeal_officer__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>Press advert target set</label>
        </rules>
    </decisions>
    <description>FHDC Appeals process</description>
    <interviewLabel>FHDC_BE_Appeal_Process-2_InterviewLabel</interviewLabel>
    <label>FHDC BE Appeal Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>arcusbuiltenv__Appeal__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_10_A1</name>
        <label>Create press advert task</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>myVariable_current.Press_Advert_Start_Target_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Appeal_officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Send press advert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Asset;AssetRelationship;Campaign;Case;ContactRequest;Contract;ListEmail;Opportunity;Order;Product2;Solution;WorkOrder;WorkOrderLineItem;arcenforcements__Hazard__c;arcenforcements__Related_Hazard__c;arcshared__Council_Service_Area__c;arcshared__Council_Service__c;arcshared__Financial_Transaction__c;arcshared__Involved_Person__c;arcshared__Message__c;arcshared__Service_Account_Notification__c;arcshared__Service_Account__c;arcshared__System_Log__c;arcshared__Web_Comment__c;arcusbuiltenv__Action__c;arcusbuiltenv__Additional_Details__c;arcusbuiltenv__Appeal__c;arcusbuiltenv__Building_Control_Application__c;arcusbuiltenv__Clause__c;arcusbuiltenv__Committee__c;arcusbuiltenv__Constraint__c;arcusbuiltenv__Consultation__c;arcusbuiltenv__Decision_Detail__c;arcusbuiltenv__Enforcement__c;arcusbuiltenv__Planning_Application__c;arcusbuiltenv__Planning_Obligation__c;arcusbuiltenv__Recommendation_and_Decision__c;arcusbuiltenv__Related_Party__c;arcusbuiltenv__Scheme_Committments__c;arcusbuiltenv__Scheme__c;arcusbuiltenv__Stage__c;arcusbuiltenv__Tree_Preservation_Order__c;arcusbuiltenv__Unit_of_Work__c;arcusgazetteer__DTF_Records__c;arcusgazetteer__Location_Link__c;arcusgazetteer__Location__c;arcuslandcharge__External_Answer__c;arcuslandcharge__LCApplication__c;arcuslandcharge__LC_Register__c;arcusregserv__Applicable_Zone__c;arcusregserv__Bid__c;arcusregserv__Grant__c;arcusregserv__Incident__c;arcusregserv__RS_Action__c;arcusregserv__RS_Activity__c;arcusregserv__RS_Assessment_Answer__c;arcusregserv__RS_Assessment__c;arcusregserv__RS_Licence__c;arcusregserv__RS_Mobile_Unit__c;arcusregserv__RS_Pitch__c;arcusregserv__RS_Related_Contact__c;arcusregserv__Room__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create PINS reminder</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>myVariable_current.Questionnaire_to_PINS_Target_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Appeal_officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Send questionnaire to PINS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Asset;AssetRelationship;Campaign;Case;ContactRequest;Contract;ListEmail;Opportunity;Order;Product2;Solution;WorkOrder;WorkOrderLineItem;arcenforcements__Hazard__c;arcenforcements__Related_Hazard__c;arcshared__Council_Service_Area__c;arcshared__Council_Service__c;arcshared__Financial_Transaction__c;arcshared__Involved_Person__c;arcshared__Message__c;arcshared__Service_Account_Notification__c;arcshared__Service_Account__c;arcshared__System_Log__c;arcshared__Web_Comment__c;arcusbuiltenv__Action__c;arcusbuiltenv__Additional_Details__c;arcusbuiltenv__Appeal__c;arcusbuiltenv__Building_Control_Application__c;arcusbuiltenv__Clause__c;arcusbuiltenv__Committee__c;arcusbuiltenv__Constraint__c;arcusbuiltenv__Consultation__c;arcusbuiltenv__Decision_Detail__c;arcusbuiltenv__Enforcement__c;arcusbuiltenv__Planning_Application__c;arcusbuiltenv__Planning_Obligation__c;arcusbuiltenv__Recommendation_and_Decision__c;arcusbuiltenv__Related_Party__c;arcusbuiltenv__Scheme_Committments__c;arcusbuiltenv__Scheme__c;arcusbuiltenv__Stage__c;arcusbuiltenv__Tree_Preservation_Order__c;arcusbuiltenv__Unit_of_Work__c;arcusgazetteer__DTF_Records__c;arcusgazetteer__Location_Link__c;arcusgazetteer__Location__c;arcuslandcharge__External_Answer__c;arcuslandcharge__LCApplication__c;arcuslandcharge__LC_Register__c;arcusregserv__Applicable_Zone__c;arcusregserv__Bid__c;arcusregserv__Grant__c;arcusregserv__Incident__c;arcusregserv__RS_Action__c;arcusregserv__RS_Activity__c;arcusregserv__RS_Assessment_Answer__c;arcusregserv__RS_Assessment__c;arcusregserv__RS_Licence__c;arcusregserv__RS_Mobile_Unit__c;arcusregserv__RS_Pitch__c;arcusregserv__RS_Related_Contact__c;arcusregserv__Room__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_4_A1</name>
        <label>Create Statement Reminder</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>myVariable_current.Target_Statement_Sent_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Appeal_officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Send Statement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Asset;AssetRelationship;Campaign;Case;ContactRequest;Contract;ListEmail;Opportunity;Order;Product2;Solution;WorkOrder;WorkOrderLineItem;arcenforcements__Hazard__c;arcenforcements__Related_Hazard__c;arcshared__Council_Service_Area__c;arcshared__Council_Service__c;arcshared__Financial_Transaction__c;arcshared__Involved_Person__c;arcshared__Message__c;arcshared__Service_Account_Notification__c;arcshared__Service_Account__c;arcshared__System_Log__c;arcshared__Web_Comment__c;arcusbuiltenv__Action__c;arcusbuiltenv__Additional_Details__c;arcusbuiltenv__Appeal__c;arcusbuiltenv__Building_Control_Application__c;arcusbuiltenv__Clause__c;arcusbuiltenv__Committee__c;arcusbuiltenv__Constraint__c;arcusbuiltenv__Consultation__c;arcusbuiltenv__Decision_Detail__c;arcusbuiltenv__Enforcement__c;arcusbuiltenv__Planning_Application__c;arcusbuiltenv__Planning_Obligation__c;arcusbuiltenv__Recommendation_and_Decision__c;arcusbuiltenv__Related_Party__c;arcusbuiltenv__Scheme_Committments__c;arcusbuiltenv__Scheme__c;arcusbuiltenv__Stage__c;arcusbuiltenv__Tree_Preservation_Order__c;arcusbuiltenv__Unit_of_Work__c;arcusgazetteer__DTF_Records__c;arcusgazetteer__Location_Link__c;arcusgazetteer__Location__c;arcuslandcharge__External_Answer__c;arcuslandcharge__LCApplication__c;arcuslandcharge__LC_Register__c;arcusregserv__Applicable_Zone__c;arcusregserv__Bid__c;arcusregserv__Grant__c;arcusregserv__Incident__c;arcusregserv__RS_Action__c;arcusregserv__RS_Activity__c;arcusregserv__RS_Assessment_Answer__c;arcusregserv__RS_Assessment__c;arcusregserv__RS_Licence__c;arcusregserv__RS_Mobile_Unit__c;arcusregserv__RS_Pitch__c;arcusregserv__RS_Related_Contact__c;arcusregserv__Room__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A1</name>
        <label>Create 3rd parties task</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision9</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>myVariable_current.Notify_3rd_Parties_Target_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Appeal_officer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Notify 3rd Parties</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Asset;AssetRelationship;Campaign;Case;ContactRequest;Contract;ListEmail;Opportunity;Order;Product2;Solution;WorkOrder;WorkOrderLineItem;arcenforcements__Hazard__c;arcenforcements__Related_Hazard__c;arcshared__Council_Service_Area__c;arcshared__Council_Service__c;arcshared__Financial_Transaction__c;arcshared__Involved_Person__c;arcshared__Message__c;arcshared__Service_Account_Notification__c;arcshared__Service_Account__c;arcshared__System_Log__c;arcshared__Web_Comment__c;arcusbuiltenv__Action__c;arcusbuiltenv__Additional_Details__c;arcusbuiltenv__Appeal__c;arcusbuiltenv__Building_Control_Application__c;arcusbuiltenv__Clause__c;arcusbuiltenv__Committee__c;arcusbuiltenv__Constraint__c;arcusbuiltenv__Consultation__c;arcusbuiltenv__Decision_Detail__c;arcusbuiltenv__Enforcement__c;arcusbuiltenv__Planning_Application__c;arcusbuiltenv__Planning_Obligation__c;arcusbuiltenv__Recommendation_and_Decision__c;arcusbuiltenv__Related_Party__c;arcusbuiltenv__Scheme_Committments__c;arcusbuiltenv__Scheme__c;arcusbuiltenv__Stage__c;arcusbuiltenv__Tree_Preservation_Order__c;arcusbuiltenv__Unit_of_Work__c;arcusgazetteer__DTF_Records__c;arcusgazetteer__Location_Link__c;arcusgazetteer__Location__c;arcuslandcharge__External_Answer__c;arcuslandcharge__LCApplication__c;arcuslandcharge__LC_Register__c;arcusregserv__Applicable_Zone__c;arcusregserv__Bid__c;arcusregserv__Grant__c;arcusregserv__Incident__c;arcusregserv__RS_Action__c;arcusregserv__RS_Activity__c;arcusregserv__RS_Assessment_Answer__c;arcusregserv__RS_Assessment__c;arcusregserv__RS_Licence__c;arcusregserv__RS_Mobile_Unit__c;arcusregserv__RS_Pitch__c;arcusregserv__RS_Related_Contact__c;arcusregserv__Room__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <startElementReference>isChangedDecision2_myRule_1_Questionnaire_to_PINS_Target_Date_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>arcusbuiltenv__Appeal__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusbuiltenv__Appeal__c</objectType>
    </variables>
</Flow>
