flows/Finanacial_Record_Rollup_Payment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assCalcTotalAmount</name>
        <label>assCalcTotalAmount</label>
        <locationX>828</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>varTotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sofFinancialRecords.arcshared__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFinancialRecords</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Finanacial Record Rollup Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financial Record Rollup Payment</label>
    <loops>
        <name>LoopFinancialRecords</name>
        <label>LoopFinancialRecords</label>
        <locationX>619</locationX>
        <locationY>288</locationY>
        <assignNextValueToReference>sofFinancialRecords</assignNextValueToReference>
        <collectionReference>socPayable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assCalcTotalAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePlanningApp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fluFinancialRecordPayable</name>
        <label>fluFinancialRecordPayable</label>
        <locationX>615</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopFinancialRecords</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPaymentRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>arcusbuiltenv__Planning_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPlanningAppId</elementReference>
            </value>
        </filters>
        <object>arcshared__Financial_Transaction__c</object>
        <outputReference>socPayable</outputReference>
        <queriedFields>arcshared__Amount__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>arcusbuiltenv__Planning_Application__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Record_Type_Lookup</name>
        <label>Record Type Lookup</label>
        <locationX>611</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fluFinancialRecordPayable</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arcshared__Financial_Transaction__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varPaymentRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePlanningApp</name>
        <label>UpdatePlanningApp</label>
        <locationX>622</locationX>
        <locationY>415</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPlanningAppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>arcusbuiltenv__Total_Payment__c</field>
            <value>
                <elementReference>varTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <object>arcusbuiltenv__Planning_Application__c</object>
    </recordUpdates>
    <startElementReference>Record_Type_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <description>all payable financial records for a planning applications</description>
        <name>socPayable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcshared__Financial_Transaction__c</objectType>
    </variables>
    <variables>
        <description>single financial record entry</description>
        <name>sofFinancialRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcshared__Financial_Transaction__c</objectType>
    </variables>
    <variables>
        <name>varPaymentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable to hold the planning applications Id (poarent Id)</description>
        <name>varPlanningAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the planning record</description>
        <name>varPlanningID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>arcusbuiltenv__Planning_Application__c</objectType>
    </variables>
    <variables>
        <description>variable to hold total amount</description>
        <name>varTotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
