flows/Licence_Initial_Setup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>New Statutory consultee Import</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Import Consultees</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>arcusregserv__ImportStatutoryConsultee</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>recordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Set Duration (1 Year)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>New Process</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Set Decision Level to Officer</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Set Decision Level to Committee</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp;
NOT(ISBLANK([arcusregserv__RS_Activity__c].arcusregserv__Licence__c)) &amp;&amp;
[arcusregserv__RS_Activity__c].arcusregserv__Licence__c.arcusregserv__Proposal__c = false &amp;&amp;
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Record_Type__c  = &apos;Parking Permit&apos; &amp;&amp;
([arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Business Permit&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Zoned Business Permit&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;CC Pedestrian Area&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Chief Executive Permit&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Doctors Business Permit&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Pay &amp; Display Permits&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Variable&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Variable CPKK Non Staff&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Westgate Loading bay&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Zone Z St Peters Road&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;St Johns Church Pedestrian Area&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Any Street Permit - Agency staff working for council&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Any Street Permit - Doctor, nurse, or staff on business&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Any Street Permit - Private business&apos; ||
[arcusregserv__RS_Activity__c].arcusregserv__Licence_Type__c  = &apos;Any Street Permit - Utility or building company&apos;)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;
NOT(ISBLANK({!myVariable_current.arcusregserv__Licence__c})) &amp;&amp;
{!myVariable_current.arcusregserv__Licence__r.arcusregserv__Proposal__c} = false &amp;&amp;
{!myVariable_current.arcusregserv__Licence_Record_Type__c}  = &apos;Parking Permit&apos; &amp;&amp;
({!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Business Permit&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Zoned Business Permit&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;CC Pedestrian Area&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Chief Executive Permit&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Doctors Business Permit&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Pay &amp; Display Permits&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Variable&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Variable CPKK Non Staff&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Westgate Loading bay&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Zone Z St Peters Road&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;St Johns Church Pedestrian Area&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Any Street Permit - Agency staff working for council&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Any Street Permit - Doctor, nurse, or staff on business&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Any Street Permit - Private business&apos; ||
{!myVariable_current.arcusregserv__Licence_Type__c}  = &apos;Any Street Permit - Utility or building company&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; NOT(ISBLANK([arcusregserv__RS_Activity__c].arcusregserv__Licence__c)) &amp;&amp; 
[arcusregserv__RS_Activity__c].arcusregserv__Licence__c.arcusregserv__Proposal__c = false</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; NOT(ISBLANK({!myVariable_current.arcusregserv__Licence__c})) &amp;&amp; 
{!myVariable_current.arcusregserv__Licence__r.arcusregserv__Proposal__c} = false</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; NOT(ISBLANK([arcusregserv__RS_Activity__c].arcusregserv__Licence__c)) &amp;&amp; 
[arcusregserv__RS_Activity__c].arcusregserv__Licence__c.arcusregserv__Proposal__c = false &amp;&amp;
[arcusregserv__RS_Activity__c].arcusregserv__Licence__c != &apos;Selective_Licence&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; NOT(ISBLANK({!myVariable_current.arcusregserv__Licence__c})) &amp;&amp; 
{!myVariable_current.arcusregserv__Licence__r.arcusregserv__Proposal__c} = false &amp;&amp;
{!myVariable_current.arcusregserv__Licence__c} != &apos;Selective_Licence&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; NOT(ISBLANK([arcusregserv__RS_Activity__c].arcusregserv__Licence__c)) &amp;&amp; 
[arcusregserv__RS_Activity__c].arcusregserv__Licence__c.arcusregserv__Proposal__c = false &amp;&amp;[arcusregserv__RS_Activity__c].arcusregserv__Licence__c == &apos;Selective_Licence&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; NOT(ISBLANK({!myVariable_current.arcusregserv__Licence__c})) &amp;&amp; 
{!myVariable_current.arcusregserv__Licence__r.arcusregserv__Proposal__c} = false &amp;&amp;{!myVariable_current.arcusregserv__Licence__c} == &apos;Selective_Licence&apos;</expression>
    </formulas>
    <interviewLabel>Licence_Initial_Setup-13_InterviewLabel</interviewLabel>
    <label>Licence Initial Setup</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>arcusregserv__RS_Activity__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[arcusregserv__RS_Activity__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Duration Fields</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Duration Requested</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <field>arcusregserv__Duration_Paid__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Duration Requested Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>arcusregserv__Duration_Requested_Unit__c</field>
            <value>
                <stringValue>Years</stringValue>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Activity__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[arcusregserv__RS_Activity__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Set Decision Level</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Decision Level</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>arcusregserv__Decision_Level__c</field>
            <value>
                <stringValue>Officer</stringValue>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Activity__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[arcusregserv__RS_Activity__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Set Decision Level</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Decision Level</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>arcusregserv__Decision_Level__c</field>
            <value>
                <stringValue>Committee</stringValue>
            </value>
        </inputAssignments>
        <object>arcusregserv__RS_Activity__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>arcusregserv__RS_Activity__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>arcusregserv__RS_Activity__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
