flows/Staff_Hub_Finance_Bankline_Payment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Case_Fields</name>
        <label>Set Case Fields</label>
        <locationX>455</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bankline Payment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finance Payments</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <interviewLabel>Staff Hub - Finance - Bankline Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Staff Hub - Finance - Bankline Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Case</name>
        <label>Save Case</label>
        <locationX>618</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>FindNewCase</targetReference>
        </connector>
        <inputReference>NewCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FindNewCase</name>
        <label>FindNewCase</label>
        <locationX>797</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acknowledgement</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCase.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>NewCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>arcuscrm__Target_Resolution_Date__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Acknowledgement</name>
        <label>Acknowledgement</label>
        <locationX>947</locationX>
        <locationY>63</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AckText</name>
            <fieldText>&lt;p&gt;Thank you for submitting this enquiry. It has been assigned a unique reference number of &lt;b&gt;{!NewCase.CaseNumber}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can provide updates or track the progress on the staff hub.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>casefileupload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload any files against your enquiry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewCase.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bankline_Payment</name>
        <label>Bankline Payments</label>
        <locationX>301</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>SlaGuidance</name>
            <fieldText>&lt;p&gt;We aim to handle enquiries of this type within {!CurrCouncilService.arcuscrm__Service_SLA_Working_Days__c} working days.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payee_Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Payee/Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_of_payment</name>
            <dataType>String</dataType>
            <fieldText>Description of payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Date_payment_to_be_released</name>
            <dataType>Date</dataType>
            <fieldText>Date payment to be released</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a date after today&apos;s date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_payment_to_be_released} &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Title_bank_details</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Recipient bank details:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sort_Code</name>
            <dataType>String</dataType>
            <fieldText>Sort Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>Any special instructions/further details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Budget_Code</name>
            <dataType>String</dataType>
            <fieldText>Full Budget Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Budget_manager</name>
            <dataType>String</dataType>
            <fieldText>Budget manager</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_you_the_budget_manager</name>
            <choiceReferences>choice_Yes</choiceReferences>
            <choiceReferences>choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you the budget manager?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Staff_Hub_Flow_Init</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Staff_Hub_Flow_Init</name>
        <label>Staff Hub Flow Init</label>
        <locationX>137</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Bankline_Payment</targetReference>
        </connector>
        <flowName>arcuscrm__CRM_STAFF_HUB_SUBFLOW_LOAD_RT_USER_CONTACT_BEFORE_CASE_FLOW</flowName>
        <inputAssignments>
            <name>caseRecordTypeDevName</name>
            <value>
                <elementReference>caseRecordTypeDevName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>councilServiceId</name>
            <value>
                <elementReference>councilServiceId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrCouncilService</assignToReference>
            <name>CouncilService</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewCase</assignToReference>
            <name>NewCase</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>caseDescription</name>
        <text>Payee/Company name:		{!Payee_Company_Name}
Description of payment:		{!Description_of_payment}
Amount:				{!Amount}
Date payment to be released:	{!Date_payment_to_be_released}

----------------------------

Recipient bank details:

Account name:			{!Account_Name}
Account number:			{!Account_Number}
Sort Code:			{!Sort_Code}

----------------------------

Any special instructions/further details:

{!Instructions}

----------------------------
Budget code:			{!Budget_Code}
Budget manager:			{!Budget_manager}
Are you the budget manager?	{!Are_you_the_budget_manager}</text>
    </textTemplates>
    <textTemplates>
        <name>lineBreak</name>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>caseRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CRM_Internal_Request</stringValue>
        </value>
    </variables>
    <variables>
        <description>passed into the flow</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Passed into the flow</description>
        <name>councilServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The current council service</description>
        <name>CurrCouncilService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcshared__Council_Service__c</objectType>
    </variables>
    <variables>
        <description>Represents the new case</description>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
