flows/Staff_Hub_Finance_Existing_Supplier_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Case_Fields</name>
        <label>Set Case Fields</label>
        <locationX>588</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finance - Existing Supplier Check</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finance Payments</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Case</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Staff Hub - Finance - Existing Supplier Check {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Staff Hub - Finance - Existing Supplier Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Case</name>
        <label>Save Case</label>
        <locationX>793</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>FindNewCase</targetReference>
        </connector>
        <inputReference>NewCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FindNewCase</name>
        <label>FindNewCase</label>
        <locationX>974</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acknowledgement</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCase.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>NewCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>arcuscrm__Target_Resolution_Date__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Acknowledgement</name>
        <label>Acknowledgement</label>
        <locationX>1136</locationX>
        <locationY>230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AckText</name>
            <fieldText>&lt;p&gt;Thank you for submitting this enquiry. It has been assigned a unique reference number of &lt;b&gt;{!NewCase.CaseNumber}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can provide updates or track the progress on the staff hub.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>casefileupload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload any files against your enquiry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewCase.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Enquiry_Details</name>
        <label>General Enquiry Details</label>
        <locationX>407</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>SlaGuidance</name>
            <fieldText>&lt;p&gt;We aim to handle enquiries of this type within {!CurrCouncilService.arcuscrm__Service_SLA_Working_Days__c} working days.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supplier_Name</name>
            <dataType>String</dataType>
            <fieldText>Supplier Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supplier_address</name>
            <fieldText>Supplier address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supplier_postcode</name>
            <dataType>String</dataType>
            <fieldText>Supplier Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Account Number (if known)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Any Additional Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Staff_Hub_Flow_Init</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Staff_Hub_Flow_Init</name>
        <label>Staff Hub Flow Init</label>
        <locationX>225</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>General_Enquiry_Details</targetReference>
        </connector>
        <flowName>arcuscrm__CRM_STAFF_HUB_SUBFLOW_LOAD_RT_USER_CONTACT_BEFORE_CASE_FLOW</flowName>
        <inputAssignments>
            <name>caseRecordTypeDevName</name>
            <value>
                <elementReference>caseRecordTypeDevName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>councilServiceId</name>
            <value>
                <elementReference>councilServiceId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrCouncilService</assignToReference>
            <name>CouncilService</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewCase</assignToReference>
            <name>NewCase</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>caseDescription</name>
        <text>Name: {!Supplier_Name}
Address:
{!Supplier_address}
{!Supplier_postcode}
----------------------
Account Number: {!Account_Number}
----------------------
Any additional information:
{!Additional_Information}</text>
    </textTemplates>
    <variables>
        <name>caseRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CRM_Internal_Request</stringValue>
        </value>
    </variables>
    <variables>
        <description>passed into the flow</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Passed into the flow</description>
        <name>councilServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The current council service</description>
        <name>CurrCouncilService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>arcshared__Council_Service__c</objectType>
    </variables>
    <variables>
        <description>Represents the new case</description>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
